bleach==1.4.1
boto==2.38.0
boto3==1.2.2
defusedxml==0.4.1
Django==1.9
django-bitfield==1.8.0
gevent==1.1b1
gfm==0.0.3
greenlet==0.4.7
grequests==0.2.0
html5lib==1.0b7
itsdangerous==0.24
Jinja2==2.7.3
MarkupSafe==0.23
pytz==2015.4
PyYAML==3.11
requests==2.8.1
rollbar==0.11.0
six==1.9.0
ua-parser==0.3.6
user-agents==0.3.2
wsgiref==0.1.2

dj-database-url==0.3.0
gunicorn==19.3.0
whitenoise==2.0.2
