{% extends 'sites/zen/base.html' %}

{% block main %}

  {% if not pager.has_previous() and site.siteblogpost_set.count() %}
    <section class="home-blog">
      <ol>
        {% for post in site.siteblogpost_set.all()[:2] %}
          <li>
            <a href="{{ url('site_post', site_slug=site.slug, post_slug=post.slug) }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ol>
      <p>{% trans blog_link=url('site_blog', site_slug=site.slug) %}Read more on <a href="{{ blog_link }}">our blog</a>.{% endtrans %}</p>
    </section>
  {% endif %}

  <div class="subscribe-buttons">
    <a class="btn" href="https://pinecast.com{{ url_global('feed', podcast_slug=site.podcast.slug) }}">
      {{ _('Subscribe with RSS') }}
    </a>
    {%- if site.itunes_url -%}
      <a class="btn" href="{{ site.itunes_url }}">
        {{ _('Subscribe on iTunes') }}
      </a>
    {%- endif -%}
    {%- if site.stitcher_url -%}
      <a class="btn" href="{{ site.stitcher_url }}">
        {{ _('Subscribe on Stitcher') }}
      </a>
    {%- endif -%}
  </div>
  <div class="episodes">

    {% for episode in pager %}
      <article class="episode">
        <a href="{{ url('site_episode', episode_id=str(episode.id)) }}">
          <img src="{{ episode.image_url }}" alt="" height="300" width="300">
        </a>
      </article>
    {% else %}
      <div class="empty-state">
        {{ _('There is nothing here yet.') }}
      </div>
    {% endfor %}
  </div>

  {% if pager.has_other_pages() %}
    <div class="pagination">
      {% if pager.has_next() %}
        <a class="btn" href="{{ url('site_home', site_slug=site.slug) }}?page={{ pager.next_page_number() }}">{{ _('Back in time') }}</a>
      {% endif %}
      {% if pager.has_previous() %}
        <a class="btn" href="{{ url('site_home', site_slug=site.slug) }}?page={{ pager.previous_page_number() }}">{{ _('Onwards to the future') }}</a>
      {% endif %}
    </div>
  {% endif %}

{% endblock %}
