{% extends 'sites/podcasty/base.html' %}

{% block main %}

  <article class="episode inline">
    <div>
      <img src="{{ episode.image_url }}" alt="" height="300" width="300">

      <hgroup>
        <h1>{{ episode.title }}</h1>
        {% if episode.subtitle %}
          <h2>{{ episode.subtitle }}</h2>
        {% endif %}
      </hgroup>

      <iframe src="https://pinecast.com{{ url_global('player', episode_id=str(episode.id)) }}" seamless height="60" style="border:0" class="pinecast-embed"></iframe>

      <div class="description">
        {{ episode.get_html_description()|safe }}
      </div>
    </div>
  </article>

{% endblock %}

{% block feedbackurl %}https://pinecast.com{{ url_global('ep_comment_box', podcast_slug=site.podcast.slug, episode_id=str(episode.id)) }}{% endblock %}
