<div class="plans row">
  <div class="card plan-card">
    <strong>{{ _('Starter') }}</strong>
    <ul>
      <li>{{ _('Actionable analytics') }}</li>
      <li>{{ _('64MB limit per episode') }}</li>
      <li>{{ _('Podcast homepage') }}</li>
    </ul>
    <span class="plan-price">$5<sub>/mo</sub></span>

    {% if user_settings.plan == PLANS['PLAN_STARTER'] %}
      <strong>{{ _('Current Plan') }}</strong>
    {% else %}
      <button class="btn btn-plain">
        {{ _('Choose Starter') }}
      </button>
    {% endif %}
  </div>
  <div class="card plan-card">
    <strong>{{ _('Pro') }}</strong>
    <ul>
      <li>{{ _('Advanced analytics') }}</li>
      <li>{{ _('128MB limit per episode') }}</li>
      <li>{{ _('Create networks') }}</li>
      <li>{{ _('Feedback tool') }}</li>
    </ul>
    <span class="plan-price">$50<sub>/mo</sub></span>

    {% if user_settings.plan == PLANS['PLAN_PRO'] %}
      <strong>{{ _('Current Plan') }}</strong>
    {% else %}
      <button class="btn btn-plain">
        {{ _('Choose Pro') }}
      </button>
    {% endif %}
  </div>
  {#
  <div class="card plan-card">
    <strong>{{ _('Ultimate') }}</strong>
    <ul>
      <li>{{ _('Complete analytics') }}</li>
      <li>{{ _('256MB limit per episode') }}</li>
      <li>{{ _('Faster episode downloads') }}</li>
    </ul>
    <span class="plan-price">$250<sub>/mo</sub></span>

    <button class="btn btn-plain">
      {{ _('Downgrade to Ultimate') }}
    </button>
  </div>
  #}
</div>

{% if user_settings.plan != PLANS['PLAN_DEMO'] %}
  <div class="plan-free">
    <p>{{ _('A free plan is always available. Free plans archive episodes past the last ten.') }}</p>
    <button class="btn btn-plain">
      {{ _('Downgrade to Free') }}
    </button>
  </div>
{% endif %}

<div class="plan-footer">
  <p>
    {{ _('All plans include unlimited podcasts, unlimited storage, and unlimited bandwidth.') }}
  </p>
</div>
