{% extends 'base.html' %}
{% block content %}
<header>
     <h1>PodMaster Hosting{% block title %}{% endblock %}</h1>
     <div class="user-card">
         <img src="{{ user_avatar }}" alt="">
         <span>{{ user.username }}</span>
     </div>
</header>
<div class="main-container">
    <nav class="sidebar">
        {% block sidebar %}
            <ul>
                <li><a href="{{ url('dashboard') }}">Dashboard</a></li>
                <li><a href="{{ url('logout') }}">Sign Out</a></li>
            </ul>
            {% if podcasts %}
                <strong>Podcasts</strong>
                <ul>
                    {% for p in podcasts %}
                        <li>
                            <a href="{{ url('podcast_dashboard', kwargs={'podcast_slug': p.slug}) }}">{{ p.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endblock %}
    </nav>
    <main>
        {% block dashboard_body %}{% endblock %}
    </main>
</div>
{% endblock %}
