{% extends 'dashboard_base.html' %}
{% block dashboard_body %}

<ul class="chunky dashboard-podcasts">
  {% for p in podcasts %}
    <li>
      <img src="{{ p.cover_image }}" alt="">
      <strong><a href="{{ url('podcast_dashboard', kwargs={'podcast_slug': p.slug}) }}">{{ p.name }}</a></strong>
      <p>{{ p.description|safe }}</p>
    </li>
  {% endfor %}
  <li class="empty-state">
    <a href="{{ url('new_podcast') }}">
      <i>&plus;</i>
      <span>
        {% if podcasts %}
          Create a new podcast
        {% else %}
          Create your first podcast
        {% endif %}
      </span>
    </a>
  </li>
  <li class="empty-state empty-state-import">
    <a href="#">
      <i>&#8595;</i>
      <span>
        Import Existing Podcast
      </span>
    </a>
  </li>
</ul>

{% endblock %}
