{% extends 'base.html' %}

{% macro breadcrumb(title, url) -%}
  <div class="breadcrumb">
    <a href="{{ url }}">
      {% trans name=title %}&laquo; Back to {{ name }}{% endtrans %}
    </a>
  </div>
{%- endmacro %}

{% block content %}
<header>
  <h1>{{ _('PodMaster Hosting') }}{% block title %}{% endblock %}</h1>
  <a class="user-card" href="{{ url('user_settings') }}">
    <img src="{{ gravatar(user.email) }}" alt="">
    <span>{{ user.username }}</span>
  </a>
</header>
<div class="main-container">
  <nav class="sidebar">
    {% block sidebar %}
      <ul>
        <li><a href="{{ url('logout') }}">{{ _('Sign Out') }}</a></li>
        <li><a href="{{ url('dashboard') }}">{{ _('All Podcasts') }}</a></li>
      </ul>
      {% if podcasts %}
        <ul>
          {% for p in podcasts %}
            <li>
              <a href="{{ url('podcast_dashboard', podcast_slug=p.slug) }}" {{'class="selected"'|safe if podcast == p and not network else ''}}>
                {{ p.name }}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if networks %}
        <ul>
          {% for n in networks %}
            <li>
              <a href="{{ url('network_dashboard', network_id=n.id) }}" {{'class="selected"'|safe if network == n else ''}}>
                {{ n.name }}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endblock %}
  </nav>
  <main>
    <noscript>
      <div class="error">
        {% trans %}
          It looks like JavaScript is turned off in your browser! Our dashboards will probably not work until it's turned back on.
        {% endtrans %}
      </div>
    </noscript>
    {% block dashboard_body %}{% endblock %}
  </main>
</div>
{% endblock %}
