{% extends "login_base.html" %}

{% block body %}
<hgroup>
  <h1>{{ _('Reset your password') }}</h1>
</hgroup>

<form method="post" action="{{ url('forgot_password_finish') }}" class="card">
  {% if error %}
    <div class="error">
      <strong>{{ _('Error') }}</strong> {{ error }}
    </div>
  {% endif %}

  <p>
    {{ _('Choose a new password to use with your account.') }}
  </p>

  <label>
    <span>{{ _('New Password') }}</span>
    <input type="password" name="password" minlength="6" required>
  </label>

  <label>
    <span>{{ _('Type it again') }}</span>
    <input type="password" name="confirm" minlength="6" required>
  </label>

  <button type="submit">{{ _('Reset Password') }}</button>

  <div class="signup-footer">
    {{ _('Passwords must be at least six characters.') }}
  </div>

  <input type="hidden" name="__sig" value="{{ signature }}">
  <input type="hidden" name="email" value="{{ email }}">
  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
</form>
{% endblock %}
