{% extends "login_base.html" %}

{% block body %}
<hgroup>
  <h1>{{ _('Forgot your password?') }}</h1>
  <h2>
    {% trans %}
      No problem, let's get that sorted out.
    {% endtrans %}
  </h2>
</hgroup>

<form method="post" action="?" class="card">
  {% if error %}
    <div class="error">
      <strong>{{ _('Error') }}</strong> {{ error }}
    </div>
  {% endif %}

  <p>{{ _('Enter your email address and we will send you isntructions for resetting your password.') }}</p>

  <label>
    <span>{{ _('Email') }}</span>
    <input type="email" placeholder="{{ _('Email') }}" name="email">
  </label>

  <button type="submit">{{ _('Reset Password') }}</button>

  <div class="signup-footer">
    {{ _('Remember your password after all?')}} <a href="{{ url('login') }}">{{ _('Sign In') }}</a>
  </div>

  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
</form>
{% endblock %}
