{% extends "base.html" %}
{% block content %}
<div class="login-container">
  <h1 class="form-signin-heading">{{ _('Reset Password') }}</h1>
  <form method="post" action="{{ url('forgot_password_finish') }}" class="card">
    {% if error %}
      <div class="error">
        <strong>{{ _('Error') }}</strong> {{ error }}
      </div>
    {% endif %}
    <p>
      {{ _('Choose a new password to use with your account.') }}
    </p>
    <label>
      <span>{{ _('Password') }}</span>
      <input type="password" name="password" minlength="6">
    </label>
    <label>
      <span>{{ _('Type it again') }}</span>
      <input type="password" name="confirm" minlength="6">
    </label>
    <menu class="toolbar">
      <li>
        <button type="submit">{{ _('Reset Password') }}</button>
      </li>
    </menu>
    <input type="hidden" name="__sig" value="{{ signature }}">
    <input type="hidden" name="email" value="{{ email }}">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
  </form>
</div>
{% endblock %}
