{% extends "base.html" %}
{% block content %}
<div class="login-container">
  <h1 class="form-signin-heading">{{ _('Pinecast') }}</h1>
  <form method="post" action="?" class="card">
    {% if success %}
      <div class="success">
        <strong>{{ _('Success') }}</strong> {{ success }}
      </div>
    {% endif %}
    {% if error %}
      <div class="error">
        <strong>{{ _('Login Error') }}</strong> {{ error }}
      </div>
    {% endif %}

    <label>
      <span>{{ _('Email') }}</span>
      <input type="email" placeholder="{{ _('Email') }}" name="email">
    </label>
    <label>
      <span>{{ _('Password') }}</span>
      <input type="password" name="password">
    </label>
    <menu class="toolbar">
      <li>
        <button type="submit">{{ _('Sign In') }}</button>
      </li>
      <li>
        <a href="{{ url('forgot_password') }}" class="btn btn-neutral">{{ _('Forgot Password') }}</a>
      </li>
    </menu>
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
  </form>
</div>
{% endblock %}
