{% extends "login_base.html" %}

{% block body %}
<hgroup>
  <h1>{{ _('Welcome Back') }}</h1>
  <h2>{{ _('Please sign in to continue.') }}</h2>
</hgroup>

<form method="post" action="?" class="card">
  {% if success %}
    <div class="success">
      <strong>{{ _('Success') }}</strong> {{ success }}
    </div>
  {% endif %}
  {% if error %}
    <div class="error">
      <strong>{{ _('Login Error') }}</strong> {{ error }}
    </div>
  {% endif %}

  <label>
    <span>{{ _('Email') }}</span>
    <input type="email" placeholder="{{ _('Email') }}" name="email">
  </label>
  <label>
    <span>{{ _('Password') }}</span>
    <input type="password" name="password">
  </label>
  <button type="submit">{{ _('Sign In') }}</button>

  <div class="post-submit-links">
    <a href="{{ url('forgot_password') }}">{{ _('Forgot Password?') }}</a>
  </div>

  <div class="signup-footer">
    {{ _('Don\'t have an account? ')}} <a href="{{ url('signup') }}">{{ _('Sign Up') }}</a>
  </div>


  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
</form>
{% endblock %}
