{% extends 'base.html' %}
{% block css %}
  <link type="text/css" rel="stylesheet" href="/static/css/signup.css">
{% endblock %}
{% block content %}
<main class="signup-done">
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     width="33.239px" height="31.189px" viewBox="0 0 33.239 31.189" xml:space="preserve">
    <g>
        <polyline fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
        16.033,30.189 1,1 32.239,11.104 17.772,15.969 16.033,30.189 1,1 32.239,11.104" />
        <line fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="12.058" y1="24.726" x2="7.845" y2="28.657" />
        <line fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="7.845" y1="28.657" x2="1" y2="1" />
        <line fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="17.478" y1="15.718" x2="12.751" y2="11.705" />
    </g>
  </svg>
  <h3>{{ _('Thanks for requesting an invitation!') }}</h3>
  <p>{{ _('You\'ll be hearing from us soon.') }}</p>
</main>
{% endblock %}
