.main-header {
    background: #fff;
    height: 60px;
    left: 0;
    line-height: 60px;
    padding: 0 15px;
    position: fixed;
    right: 0;
    text-align: right;
    top: 0;
    z-index: 50;
}
.main-header > div {
    margin: auto;
    max-width: 1024px;
    position: relative;
}

.main-header h1 {
    float: left;
    font-size: 13px;
    line-height: 59px;
    margin: 0;
    padding: 0;
}
.main-header h1 a {
    color: #48556A;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.2s;
}
.main-header h1 a:hover {
    color: #8B75EF;
}
.main-header h1 a:before {
    background: url(/static/img/logo.svg);
    background-size: 18px 18px;
    content: '';
    display: inline-block;
    height: 18px;
    margin-right: 8px;
    vertical-align: middle;
    width: 18px;
}
.main-header h1 a span {
    vertical-align: middle;
}
.main-header .support-link {
    color: #273650;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
}
.main-header .support-link:hover {
    text-decoration: underline;
}

.main-header .user-card {
    display: block;
    float: right;
    margin-left: 20px;
    position: relative;
}
.main-header .user-card img {
    height: 32px;
    width: 32px;
}

.main-header .user-card + menu {
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 5px 13px rgba(0, 0, 0, 0.15);
    display: none;
    line-height: 35px;
    margin: 0;
    padding: 10px 0;
    position: absolute;
    right: 5px;
    text-align: center;
    top: 65px;
    width: 150px;
}
.main-header .user-card:hover + menu,
.main-header .user-card + menu:hover {
    display: block;
}
.main-header .user-card + menu li {
    display: block;
}
.main-header .user-card + menu li a {
    color: #212121;
    display: block;
    padding: 0 10px;
}
.main-header .user-card + menu li a:hover,
.main-header .user-card + menu li a:focus {
    background: #eee;
    text-decoration: none;
}
.main-header .user-card + menu:before {
    /* Buffer between the header and the top of the menu */
    content: "";
    display: block;
    height: 5px;
    left: 0;
    position: absolute;
    top: -5px;
    width: 100%;
}
.main-header .user-card + menu:after {
    /* Carat */
    border: 5px solid transparent;
    border-top-width: 0;
    border-bottom: 5px solid #fff;
    content: "";
    display: block;
    height: 0;
    margin: auto;
    position: absolute;
    right: 10px;
    top: -5px;
    width: 0;
}
