.main-header {
    background: #fff;
    height: 60px;
    left: 0;
    line-height: 60px;
    padding: 0 15px;
    position: fixed;
    right: 0;
    text-align: right;
    top: 0;
    z-index: 50;
}
.main-header > div {
    display: flex;
    margin: auto;
    max-width: 1024px;
    position: relative;
}

.main-header h1 {
    flex: 0 0 auto;
    font-size: 13px;
    line-height: 59px;
    margin: 0;
    padding: 0;
}
.main-header h1 a {
    color: #48556A;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.2s;
}
.main-header h1 a:hover {
    color: #8B75EF;
}
.main-header h1 a:before {
    background: url(/static/img/logo.svg);
    background-size: 18px 18px;
    content: '';
    display: inline-block;
    height: 18px;
    margin-right: 8px;
    vertical-align: middle;
    width: 18px;
}
.main-header h1 a span {
    vertical-align: middle;
}
.main-header .support-link {
    color: #273650;
    flex: 0 0 auto;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
}
.main-header .support-link:hover {
    text-decoration: underline;
}

.main-header .user-card {
    display: block;
    flex: 0 0 auto;
    margin-left: 20px;
    position: relative;
}
.main-header .user-card img {
    height: 32px;
    width: 32px;
}

.main-header menu {
    display: flex;
    flex: 1 1 auto;
    list-style: none;
    margin: 0;
}

.main-header .main-toolbar > li {
    padding: 0 10px;
    position: relative;
}
.main-header .main-toolbar > li > a,
.main-header .main-toolbar > li > span {
    color: #273650;
    display: block;
    text-transform: uppercase;
}
.main-header .main-toolbar menu {
    text-align: left;
    width: 250px;
}
.main-header .main-toolbar menu li a {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.main-header .menu-trigger + menu {
    background: #fff;
    box-shadow: 0 5px 13px rgba(0, 0, 0, 0.15);
    display: none;
    line-height: 35px;
    padding: 10px 0;
    position: absolute;
    right: 15px;
    text-align: center;
    top: 65px;
    width: 150px;
}
.main-header .main-toolbar menu {
    width: 250px;
}

.main-header .menu-trigger:hover + menu,
.main-header .menu-trigger + menu:hover {
    display: block;
}
.main-header .menu-trigger + menu li {
    display: block;
    position: relative;
}
.main-header .menu-trigger + menu li a {
    color: #212121;
    display: block;
    padding: 0 10px;
}
.main-header .menu-trigger + menu li a:hover,
.main-header .menu-trigger + menu li a:focus {
    background: #eee;
    text-decoration: none;
}
.main-header .menu-trigger + menu:before {
    /* Buffer between the header and the top of the menu */
    content: "";
    display: block;
    height: 5px;
    left: 0;
    position: absolute;
    right: 0;
    top: -5px;
}
.main-header .menu-trigger + menu:after {
    /* Carat */
    border: 5px solid transparent;
    border-top-width: 0;
    border-bottom: 5px solid #fff;
    content: "";
    display: block;
    height: 0;
    margin: auto;
    position: absolute;
    left: 85%;
    top: -5px;
    width: 0;
}
