.signup-container {
    margin: 50px auto;
    width: 600px;
    z-index: 5;
}

header > p {
    font-size: 16px;
    line-height: 1.5em;
    text-align: center;
}

.signup-container form {
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.signup-container form > button {
    display: block;
    font-size: 18px;
    height: auto;
    margin: 30px auto 0;
    padding: 10px 0;
    width: 50%;
}
.signup-container form > button + p a {
    display: block;
    text-align: center;
}


.g-recaptcha {
    margin: 20px 0 0;
}
.g-recaptcha > div > div {
    margin: 0 auto;
}
