@import url(//fonts.googleapis.com/css?family=Titillium+Web:400,300,600);
@import url(//fonts.googleapis.com/css?family=Lato);


* {
    box-sizing: border-box;
}

html, body {
    background: #009688;
    margin: 0;
    padding: 0;
}

body {
    color: #fff;
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

h1, h2, h3 {
    color: #212121;
    font-family: Titillium Web, sans-serif;
    margin: 0;
}

.hero {
    background: #fff;
    font-size: 2em;
    padding: 100px 0;
    text-align: center;
}

.hero h2 {
    color: #727272;
    font-size: 1em;
}


input[type="text"],
input[type="email"],
input[type="url"],
input[type="number"],
input[type="password"],
input[type="datetime-local"],
textarea {
    border: 0;
    border-radius: 2px;
    box-shadow: 0 0 0 0 transparent;
    margin: 2px 0 5px;
    padding: 8px;
    transition: box-shadow 0.2s;
    width: 300px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="datetime-local"]:focus,
textarea:focus {
    box-shadow: 0 0 2px 2px #fff;
}

button, .btn {
    -moz-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    background: #FF4081;
    border: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.2em;
    height: 2.3em;
    line-height: 2.3em;
    padding: 0 20px;
    position: relative;
    top: 0;
    transition: box-shadow 0.2s, top 0.2s;
}

button:hover, .btn:hover,
button:focus, .btn:focus {
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.4);
    outline: none;
    text-decoration: none;
}

button:active, .btn:active {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    top: 4px;
}

button:disabled, .btn:disabled {
    opacity: 0.4;
}


main {
    font-size: 15px;
    margin: 0 auto;
    padding: 30px 0;
    width: 500px;
}

main h3 {
    color: #fff;
    font-size: 1.5em;
}

main p {
    line-height: 1.75em;
}

label {
    display: block;
}
label + label {
    margin-top: 15px;
}
label > span {
    display: block;
    font-size: 0.8em;
    line-height: 1.5em;
    text-transform: uppercase;
}
label > small {
    color: rgba(255, 255, 255, 0.5);
    display: block;
    font-size: 0.8em;
}

select {
    border: 0;
    border-radius: 3px;
    display: block;
    padding: 6px;
    width: 300px;
}

menu {
    padding: 0;
}

section.features {
    background: #00796B;
}
section.features > div {
    display: flex;
    margin: 0 auto;
    width: 800px;
}

section.features > div > div {
    flex: 1 0;
    padding: 40px 30px 40px 70px;
    position: relative;
    text-align: justify;
}
section.features > div > div > svg {
    bottom: 0;
    height: 40px;
    left: 15px;
    margin: auto;
    position: absolute;
    top: 0;
    width: 40px;
}
section.features > div > div > strong {
    display: block;
    font-size: 1.2em;
    margin-bottom: 0.25em;
}
section.features > div > div > p {
    line-height: 1.5em;
    margin: 0;
}

.signup-done {
    text-align: center;
}
.signup-done svg {
    display: block;
    height: 256px;
    margin: 50px auto;
    width: 256px;
}

nav {
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
}
nav a {
    border: 1px solid #3F51B5;
    border-radius: 4px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    color: #3F51B5;
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    padding: 7px 15px;
    text-decoration: none;
    transition: 0.2s box-shadow;
}
nav a:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    text-decoration: underline;
}
