@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800);

@import url(header.css);
@import url(layout.css);

*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    background: #F8F9FA;
    color: #48556A;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font-family: Open Sans, Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: 100%;
    min-height: 100%;
}

.main-container h1, .main-container h2, .main-container h3 {
    margin: 0;
}

a {
    color: #00796B;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

label, .label {
    display: block;
    padding: 10px;
}
label > span,
.label > span {
    color: #888;
    display: block;
    font-size: 13px;
}

label > input[type="checkbox"] {
    float: left;
}
label > input[type="checkbox"] + span {
    margin-left: 25px;
}

ol, ul, dl {
    margin: 0 0 15px;
}


input[type="text"],
input[type="email"],
input[type="url"],
input[type="number"],
input[type="password"],
input[type="datetime-local"],
textarea {
    border: 1px solid #c5c5c5;
    border-radius: 2px;
    box-shadow: 0 0 0 transparent;
    font-size: 14px;
    margin: 2px 0 5px;
    padding: 8px;
    transition: box-shadow 0.2s, border-color 0.2s;
    width: 100%;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="datetime-local"],
textarea {
    display: block;
}

input[type="text"][readonly],
input[type="email"][readonly],
input[type="url"][readonly],
input[type="number"][readonly],
input[type="password"][readonly],
input[type="datetime-local"][readonly]
textarea[readonly] {
    border-color: #ddd;
    border-width: 1px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="datetime-local"]:focus,
textarea:focus {
    border-color: #555;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

::-webkit-input-placeholder {
   color: #ddd;
}

::-moz-placeholder {
   color: #ddd;
}

:-ms-input-placeholder {
   color: #ddd;
}

textarea {
    height: 150px;
    width: 100%;
}

select {
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    font-size: 15px;
    padding: 7px;
}


button, .btn {
    -moz-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    background: #8B75EF;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Open Sans, Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: 2.5em;
    line-height: 2.5em;
    padding: 0 20px;
    position: relative;
    top: 0;
    transition: box-shadow 0.2s, top 0.2s;
}

button:hover, .btn:hover,
button:focus, .btn:focus {
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.25);
    outline: none;
    text-decoration: none;
}

button:active, .btn:active {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    top: 4px;
}

button:disabled, .btn:disabled {
    opacity: 0.4;
}

.btn-danger {
    background: #FF5252;
}

.btn-neutral {
    background: #ddd;
    color: #222;
}


.card {
    background: #fff;
    border: 1px solid #DEE6F3;
    padding: 25px 30px;
    position: relative;
}
.card > strong:first-child,
.card .chart-title,
.card-comment > .comment-from {
    display: block;
    font-size: 16px;
    line-height: 20px;
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.card .chart-title {
    margin-bottom: 0;
}
.card > :last-child {
    margin-bottom: 0;
}

.card > menu,
.card > label,
.card > .label {
    padding-left: 0;
    padding-right: 0;
}

.card.card-comment {
    border: 1px solid #bbb;
    margin: 15px;
}
.card-comment .comment-from {
    padding-left: 5px;
}
.card-comment .comment-from img {
    border-radius: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    width: 1.5em;
}
.card-comment menu {
    opacity: 0.2;
    transition: opacity 0.25s;
}
.card-comment:hover menu {
    opacity: 1;
}

.ticket {
    background: #fff;
    border: 1px solid #B6B6B6;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    margin-bottom: 20px;
    padding: 0;
    transition: box-shadow 0.2s;
}
.ticket > a {
    display: block;
    font-weight: bold;
    padding: 12px;
}
.ticket:hover {
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
}

.ticket .ticket-details {
    border-top: 1px solid #B6B6B6;
    color: #607D8B;
    font-family: Open Sans;
    font-size: 0.80em;
    height: 25px;
    line-height: 25px;
    padding: 0;
    opacity: 0.7;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: opacity 0.2s;
    white-space: nowrap;
}
.ticket:hover .ticket-details {
    opacity: 1;
}
.ticket .ticket-details span {
    border-right: 1px solid #B6B6B6;
    display: inline-block;
    line-height: 25px;
    max-width: 30%;
    overflow: hidden;
    padding: 0 12px;
    text-overflow: ellipsis;
    vertical-align: top;
}
.ticket .ticket-details span b,
.ticket .ticket-details span .b {
    display: inline-block;
    font-weight: bold;
    line-height: 25px;
    vertical-align: top;
}
.ticket .ticket-details span.icon-clock:before {
    background: url(/static/img/clock.svg) no-repeat center center/0.95em 0.95em;
    content: "";
    display: inline-block;
    height: 1em;
    vertical-align: middle;
    width: 1em;
}

.ticket.option {
    background: transparent;
    border: 0;
    box-shadow: none;
    text-align: center;
}
.ticket.option a {
    border: 1px dashed rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 10px;
    transition: border-color 0.2s;

}
.ticket.option a:hover {
    border-color: rgba(0, 0, 0, 0.5);
}


body > header {
    background: #fff;
    height: 50px;
    left: 0;
    line-height: 50px;
    padding: 0 15px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 50;
}

body > header h1 {
    float: left;
    font-size: 20px;
    padding: 0;
}

.user-card:hover {
    text-decoration: none;
}
.user-card img {
    border-radius: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
    width: 20px;
}


main > header {
    line-height: 70px;
    margin-top: -10px;
}
main > header > menu {
    margin: 0;
}
main > header > hgroup {
    padding: 10px 0 15px;
}
main > header > hgroup > h1 {
    line-height: 35px;
}
main > header > hgroup > h2 {
    color: #7f8c8d;
    line-height: 25px;
}


ul.chunky {
    list-style: none;
    padding: 0;
}
ul.chunky li,
div.chunky,
.chunky-row > * {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
    padding: 15px;
}

ul .empty-state {
    background: transparent;
    box-shadow: none;
    display: flex;
    line-height: 2em;
    padding: 0;
    text-align: center;
}
ul .empty-state a {
    align-items: center;
    border: 2px dashed #999;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    transition: border-color 0.2s, color 0.2s;
    width: 100%;
}
ul .empty-state a:hover {
    border-color: #8e44ad;
    color: #8e44ad;
    text-decoration: none;
}
ul .empty-state a:hover span {
    text-decoration: underline;
}
ul .empty-state i {
    display: block;
    font-size: 50px;
    font-style: normal;
    margin: 20px 0;
}

.card-block {
    margin: 10px 0;
}


.row {
    display: flex;
}
.row > * {
    flex: 1 1;
    margin: 0 10px;
}
.row > :first-child {
    margin-left: 0;
}
.row > :last-child {
    margin-right: 0;
}

section.row {
    display: flex;
}

section.row > * {
    flex: 1 1 auto;
}
section.row > .sidebar {
    flex: 0 0 33.3%;
}
section.row > :first-child {
    margin-left: 0;
}
section.row > :last-child {
    margin-right: 0;
}

.stat-card span {
    display: block;
    font-size: 50px;
    text-align: center;
}

.row > .chunkier {
    flex-grow: 2;
}

menu {
    margin: 10px 0;
    padding: 0 10px;
}
menu.tabs li,
menu.toolbar li {
    display: inline-block;
    list-style: none;
    margin-right: 20px;
}
menu.toolbar-right {
    bottom: 0;
    height: 2em;
    line-height: 2em;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
}
menu.toolbar-right li {
    margin: 0 0 0 10px;
}

menu.tabs {
    font-family: Open Sans, sans-serif;
    font-size: 26px;
    font-weight: 300;
    line-height: 40px;
}
menu.tabs a {
    color: #bdc3c7;
    transition: color 0.2s;
}
menu.tabs a.selected {
    color: #303F9F;
}


.duration-control input {
    width: 50px;
}


.progress {
    background: #ecf0f1;
    border-radius: 3px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    display: block;
    height: 5px;
}
.progress i {
    background: #8B75EF;
    border-radius: 3px;
    display: block;
    height: 5px;
    position: relative;
    transition: width 0.2s;
}
.progress i[data-tooltip]:before {
    background: #E040FB;
    border-radius: 40px;
    bottom: -30px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    color: #fff;
    content: attr(data-tooltip);
    display: block;
    font-style: normal;
    height: 40px;
    left: -30px;
    line-height: 40px;
    margin: auto;
    position: absolute;
    right: -30px;
    text-align: center;
    top: -30px;
    transform: translateY(10px) scale(0);
    transition: transform 0.1s, box-shadow 0.1s;
    width: 40px;
}
.progress:hover i[data-tooltip]:before {
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(0) scale(1);
}

.upload-dd-label {
    background-color: #fff;
    border: 2px dashed #bdc3c7;
    border-radius: 4px;
    text-align: center;
    transform: scale(1);
    transition: background-color 0.2s, transform 0.2s, border-color 0.2s;
}
.upload-dd-label:not(.is-dragging):hover {
    border-color: #009688;
}
.upload-dd-label.is-dragging {
    background-color: #B2DFDB;
    border-color: #00796B;
    transform: scale(1.1);
}
.upload-dd-label i:before {
    content: attr(data-text-choose);
    cursor: pointer;
    display: block;
    font-style: normal;
    text-decoration: underline;
}
.upload-dd-label i:after {
    content: attr(data-text-drop);
    display: block;
    font-size: 30px;
    font-style: normal;
    line-height: 80px;
    text-decoration: none;
}
.upload-dd-label input {
    height: 0;
    visibility: hidden;
}

.uploader-btn {
    position: absolute;
    right: 10px;
    top: 8px;
}


.uploaded-file-card b {
    display: block;
    font-size: 1.5em;
}
.uploaded-file-card dl {
    margin: 15px 0;
}
.uploaded-file-card dt {
    clear: left;
    display: inline-block;
    float: left;
}

.dashboard-networks {
    list-style: none;
    padding: 0;
    text-align: center;
}
.dashboard-networks li {
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin: 0 10px 20px ;
    vertical-align: top;
    width: 350px;
}
.dashboard-networks li > a {
    display: block;
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
}
.dashboard-networks li .stat {
    border-top: 1px solid #ccc;
    padding: 10px 15px;
}

.dashboard-podcasts {
    list-style: none;
    padding: 0;
}
.dashboard-podcasts .owned-external > a {
    color: #512DA8;
}

.error {
    background: #e74c3c;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    margin: 10px;
    padding: 20px;
}
.warning {
    background: #e67e22;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    margin: 10px;
    padding: 20px;
}
.success {
    background: #2ecc71;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    margin: 10px;
    padding: 20px;
}
.uploaded-file-card .warning {
    margin-left: 0;
    margin-right: 0;
}

.slug-warning {
    display: none;
    margin: 10px 0;
}
.is-available + .slug-warning,
.is-unavailable + .slug-warning {
    display: block;
}

.markdwon-editor-small .markdown-editor {
    height: 170px;
}
.markdown-editor div.CodeMirror-scroll {
    padding: 10px;
}
.markdown-editor > div.CodeMirror,
.markdown-editor > div.markdown-editor-preview {
    border: 1px solid #ddd;
    border-radius: 3px;
    top: 0;
}
.markdown-editor > .cm-s-base16-light.CodeMirror {
    background: #fff;
}
.markdown-editor > a.markdown-editor-preview-toggle {
    background-image: url(/static/img/preview.svg);
    background-repeat: no-repeat;
    background-size: 30px 30px;
    color: transparent;
    font-size: 0;
    height: 30px;
    opacity: 0.2;
    padding: 5px 8px;
    position: absolute;
    right: 15px;
    top: 10px;
    transform: translate(0, 0);
    transition: transform 0.15s, opacity 0.15s;
    width: 30px;
    z-index: 200;
}
.markdown-editor > a.markdown-editor-preview-toggle:hover,
.markdown-editor > a.markdown-editor-preview-toggle:focus {
    opacity: 0.75;
    transform: translate(0, -2px);
}
.markdown-editor > a.markdown-editor-preview-toggle:active {
    opacity: 1;
    transform: translate(0, 2px);
}
.markdown-editor > .markdown-editor-preview {
    bottom: 0;
    left: 0;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 30px;
}
.markdown-editor-preview h1,
.markdown-editor-preview h2,
.markdown-editor-preview h3 {
    margin-bottom: 15px;
    padding: 0;
}
.markdown-editor-preview h1 {
    font-size: 2em;
}
.markdown-editor-preview h2 {
    border: 0;
    font-size: 1.75em;
}
.markdown-editor-preview h3 {
    font-size: 1.5em;
}
.markdown-editor .markdown-editor-preview p {
    margin-top: 0;
}


.url-availability {
    transition: background-color 0.2s, border-color 0.2s;
}
.url-availability.is-available {
    background: #2ecc71;
    border: 1px solid #29b664;
    border-radius: 3px;
    color: #fff;
    padding: 10px;
}
.url-availability.is-unavailable {
    background: #e74c3c;
    border: 1px solid #c0392b;
    border-radius: 3px;
    color: #fff;
    padding: 10px;
}


table {
    background: #fff;
    border: 1px solid #DEE6F3;
    border-radius: 2px;
    line-height: 3em;
    margin: 10px 0;
    padding: 0 10px;
    width: 100%;
}

table thead {
    text-align: left;
}
table thead tr:last-child th {
    border-bottom: 1px solid #f5f5f5;
}
table tbody tr:not(:last-child) td {
    border-bottom: 1px solid #f5f5f5;
}

table .primary {
    font-weight: bold;
}


.url-box {
    padding: 10px;
}
.url-box input {
    margin: 0;
}

.episode-empty-state {
    line-height: 3em;
    padding: 70px 0;
    text-align: center;
}


dl {
    line-height: 35px;
    margin: 0;
}
dl dt {
    display: inline-block;
    font-weight: bold;
    margin: 0;
    vertical-align: top;
    width: 15%;
}
dl dd {
    display: inline-block;
    margin: 0;
    width: 84%;
}

@media (max-width: 1280px) {
    dl dt {
        width: 30%;
    }
    dl dd {
        width: 70%;
    }
}

abbr {
    border-bottom: 1px dotted #ccc;
}

.category-picker {
    display: flex;
    margin: 0 -10px;
}
.category-picker > div {
    flex: 1 1 50%;
    height: 200px;
    line-height: 1.5em;
    margin: 0 10px;
    overflow: auto;
    padding: 15px;
}
.category-picker b {
    display: block;
}
.category-picker a {
    display: block;
}

.pinecast-embed {
    height: 62px;
    margin: 10px;
    width: calc(100% - 20px);
}

.embed-textarea {
    height: 4em;
}


main > header {
    padding: 20px 0;
    position: relative;
}
main > header h1,
main > header h2 {
    text-align: center;
}


.breadcrumb {
    bottom: 0;
    color: #607D8B;
    font-size: 14px;
    display: block;
    height: 2em;
    left: 0;
    line-height: 2em;
    margin: auto;
    padding-left: 25px;
    position: absolute;
    top: 0;
}
.breadcrumb svg {
    bottom: 0;
    display: block;
    height: 20px;
    left: 0;
    margin: auto -25px auto 0;
    max-width: 25%;
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    top: 0;
    white-space: nowrap;
    width: 20px;
}

address.user-card {
    font-size: 14px;
    font-style: normal;
    padding-left: 60px;
}

address.user-card img {
    border-radius: 40px;
    float: left;
    height: 40px;
    margin-left: -50px;
    width: 40px;
}

address.user-card > * {
    display: block;
}

address.user-card span.name {
    font-size: 1.1em;
    font-weight: bold;
}

.network-members {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.network-members li + li {
    border-top: 1px solid #eee;
}

li.user-card {
    font-size: 13px;
    font-style: normal;
    padding: 15px 0 15px 40px;
    position: relative;
}

li.user-card img {
    border-radius: 20px;
    float: left;
    height: 20px;
    margin-left: -30px;
    width: 20px;
}

li.user-card > * {
    display: block;
}

li.user-card span.name {
    font-size: 1.1em;
    font-weight: bold;
}


.upgrade-empty-state {
    font-size: 1.2em;
    line-height: 2em;
    padding: 50px;
    text-align: center;
}

.chart-placeholder .line-legend {
    line-height: 30px;
    list-style: none;
    padding: 0;
}
.chart-placeholder .line-legend li {
    display: inline-block;
    margin-right: 5px;
}
.chart-placeholder .line-legend li span {
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    line-height: 15px;
    padding: 5px;
}

.user-detail {
    padding-left: 60px;
}

.user-detail > img {
    border-radius: 60px;
    float: left;
    margin: 5px 0 0 -60px;
}

.ticket[data-still-importing] {
    opacity: 0.5;
    position: relative;
    transition: opacity 0.2s;
}
.ticket[data-still-importing]:hover {
    opacity: 0.75;
}
.ticket[data-still-importing]:before {
    background: #8e44ad;
    border-radius: 4px;
    bottom: 0;
    color: #fff;
    content: attr(data-still-importing);
    display: block;
    font-size: 1.2em;
    left: 20px;
    height: 1.65em;
    line-height: 1.65em;
    margin: auto;
    position: absolute;
    right: 20px;
    text-align: center;
    top: 0;
}


.flex-row {
    display: flex;
}
.flex-row > .col {
    flex: 1 1;
}

.username-field:not(:focus) {
    border: 1px dotted #999;
}
.username-field::-webkit-input-placeholder {
   color: black;
}
.username-field::-moz-placeholder {
   color: black;
}
.username-field:focus::-webkit-input-placeholder {
   color: transparent;
}
.username-field:focus::-moz-placeholder {
   color: transparent;
}
.username-field:invalid + button {
    display: none;
    margin: 0;
}


.site-links {
    list-style: none;
    padding: 0;
}
.site-links .site-link {
    border-top: 1px solid #B6B6B6;
    padding: 10px;
    position: relative;
}
.site-links .site-link:last-child {
    border-bottom: 1px solid #B6B6B6;
}


.flair-options {
    background: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.05);
    padding: 15px;
}
.flair-options p {
    margin: 0 0 15px;
}
.flair-options ul {
    margin: 0;
    padding: 0;
}
.flair-options li {
    background: #fff;
    border: 1px solid #009688;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    list-style: none;
}
.flair-options li + li {
    margin-top: 2px;
}
.flair-options li label {
    line-height: 1.25em;
}
.flair-options li input {
    margin: 0.25em;
}


.chart-option {
    cursor: pointer;
    display: inline-block;
    border: 1px solid #009688;
    padding: 3px 7px;
    position: relative;
    z-index: 5;
}
.chart-option:not(.is-selected):hover {
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
    text-decoration: none;
}
.chart-option + .chart-option {
    border-left: 0;
}
.chart-option:first-child {
    border-radius: 3px 0 0 3px;
}
.chart-option:last-child {
    border-radius: 0 3px 3px 0;
}
.chart-option:first-child:last-child {
    border-radius: 3px;
}
.chart-option.is-selected {
    background: #009688;
    color: #fff;
}

.chart-option-selector {
    display: inline-block;
    margin-right: 10px;
}
