{% extends 'dashboard/base.html' %}
{% block dashboard_body %}

<header>
  {{ breadcrumb(_('Site Options'), url('site_options', podcast_slug=site.podcast.slug)) }}

  <h1>{{ _('Delete Site') }}</h1>
</header>

<div class="card card-block">
  <strong>{{ _('Are you sure?') }}</strong>
  <p>{{ _('If you\'re sure you wish to delete this site, enter the slug of the podcast in the box below.') }}</p>
  <p>{{ _('Note that this will only delete the site (http://%s.pinecast.co) and not the podcast itself.') % site.podcast.slug }}</p>

  <form action="{{ url('delete_site', podcast_slug=site.podcast.slug) }}" method="post">
    <label class="col">
      <span>{{ _('Podcast Slug') }}</span>
      <input type="text" maxlength="512" placeholder="{{ site.podcast.slug }}" name="slug" required pattern="{{ site.podcast.slug }}">
    </label>

    <menu class="toolbar">
      <button>{{ _('Delete Site') }}</button>
    </menu>

    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
  </form>
</div>

{% endblock %}
