{% extends 'dashboard/base.html' %}
{% block dashboard_body %}

<header>
  {{ breadcrumb(site.podcast.name, url('podcast_dashboard', podcast_slug=site.podcast.slug) + '#tab-site') }}

  <menu class="toolbar toolbar-right">
    <li><a class="btn" href="http://{{ site.podcast.slug }}.pinecast.co" target="_blank">{{ _('Visit') }}</a></li>
    {% if minimum_plan(site.podcast.owner, PLANS.FEATURE_MIN_BLOG) %}
      <li><a class="btn btn-neutral" href="{{ url('site_manage_blog', podcast_slug=site.podcast.slug) }}">{{ _('Blog') }}</a></li>
    {% endif %}
    <li><a class="btn btn-neutral" href="{{ url('edit_site', podcast_slug=site.podcast.slug) }}">{{ _('Edit') }}</a></li>
  </menu>

  <h1>{{ _('Site Options') }}</h1>
</header>

<div class="card-block card">
  <strong>{{ _('Site URL') }}</strong>
  <input type="url"
    readonly
    value="http://{{ site.podcast.slug }}.pinecast.co">
</div>

{% if minimum_plan(site.podcast.owner, PLANS.FEATURE_MIN_BLOG) %}
  <form class="card card-block" action="{{ url('site_add_blog_post', podcast_slug=site.podcast.slug) }}" method="post">
    <strong>{{ _('Write Blog Post') }}</strong>
    <div class="flex-row">
      <div class="col">
        <label>
          <span>{{ _('Title') }}</span>
          <input type="text" required name="title" maxlength="512">
        </label>
      </div>
      <div class="col">
        <label>
          <span>{{ _('Slug') }}</span>
          <input type="text" name="slug" required pattern="[\w-]+">
        </label>
      </div>
      <div class="col">
        <label>
          <span>{{ _('Publish On') }}</span>
          <input type="datetime-local" name="publish" required>
        </label>
      </div>
    </div>
    <label class="markdwon-editor-small">
      <span>{{ _('Body') }}</span>
      <textarea name="body"></textarea>
    </label>

    <menu class="toolbar">
      <button>{{ _('Add Post') }}</button>
    </menu>

    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
  </form>
{% endif %}

<div class="card card-block">
  <strong>{{ _('Links') }}</strong>
  <p>{{ _('You can add links to the footers and sidebars of your site.') }}</p>
  <ul class="site-links">
    {% for link in site.sitelink_set.all() %}
      <li class="site-link">
        <menu class="toolbar toolbar-right">
          <li>
            <form action="{{ url('site_remove_link', podcast_slug=site.podcast.slug) }}" method="post">
              <button class="btn btn-danger">{{ _('Remove') }}</button>
              <input type="hidden" name="id" value="{{ link.id }}">
              <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            </form>
          </li>
        </menu>

        {{ link.title }}<br>
        <small>{{ link.url }}</small>
      </li>
    {% endfor %}
  </ul>

  <form action="{{ url('site_add_link', podcast_slug=site.podcast.slug) }}" method="post">
    {% if error == 'link' %}
      <div class="error">
        {{ _('Could not create link') }}
      </div>
    {% endif %}

    <div class="flex-row">
      <label class="col">
        <span>{{ _('Link Title') }}</span>
        <input type="text" maxlength="512" placeholder="My Great Link" name="title" required>
      </label>

      <label class="col">
        <span>{{ _('Link URL') }}</span>
        <input type="url" placeholder="https://legitimatewebsite.biz" name="url" required>
      </label>
    </div>

    <menu class="toolbar">
      <button>{{ _('Add Link') }}</button>
    </menu>

    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
  </form>
</div>

{% endblock %}

{% block after_content %}
<link href="/static/css/markdown-editor.css" rel="stylesheet">
<script src="/static/js/markdown-editor.js"></script>
<script>
(function() {
  var textarea = document.querySelector('textarea');
  if (textarea) {
    markdown(textarea);
  }
}());
</script>
{% endblock %}
