{% extends 'dashboard/base.html' %}
{% block dashboard_body %}

<header>
  {{ breadcrumb(_('Site Options'), url('site_options', site_slug=site.slug)) }}

  <h1>{{ _('Delete Site') }}</h1>
</header>

<div class="card card-block">
  <strong>{{ _('Are you sure?') }}</strong>
  <p>{{ _('If you\'re sure you wish to delete this site, enter the slug in the box below.') }}</p>
  
  <form action="{{ url('delete_site', site_slug=site.slug) }}" method="post">
    <label class="col">
      <span>{{ _('Site Slug') }}</span>
      <input type="text" maxlength="512" placeholder="{{ site.slug }}" name="slug" required pattern="{{ site.slug }}">
    </label>

    <menu class="toolbar">
      <button>{{ _('Delete Site') }}</button>
    </menu>

    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
  </form>
</div>

{% endblock %}
