{% extends 'dashboard/base.html' %}
{% block dashboard_body %}

<header>
  <h1>{{ _('Account Settings') }}</h1>
</header>

<div class="card card-block">
  <strong>{{ _('Account') }}</strong>

  <div class="user-detail">
    <img src="{{ gravatar(user.email) }}" alt="">

    <dl class="user-detail-list">
      <dt>{{ _('Username') }}</dt>
      <dd>
        <form action="{{ url('user_settings_change_username') }}" method="POST">
          <input type="text" placeholder="{{ user.username }}" name="username" required class="username-field">
          <button type="submit">{{ _('Change Username') }}</button>
          <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        </form>
      </dd>

      <dt>{{ _('Email') }}</dt>
      <dd>{{ user.email }}</dd>

      <dt>{{ _('Account Created') }}</dt>
      <dd><abbr title="{{ user.date_joined }}">{{ user.date_joined|pretty_date }}</abbr></dd>

    </dl>
  </div>

  <p>{{ _('To change your avatar, please visit {startlink}Gravatar{endlink}.').format(startlink='<a href="https://gravatar.com/">', endlink='</a>')|safe }}</p>
</div>

{% if success == 'tz' %}
  <div class="success">
    {{ _('Your timezone was updated successfully.') }}
  </div>
{% elif success == 'em' %}
  <div class="success">
    {{ _('We have sent the confirmation email. Please check your inbox.') }}
  </div>
{% elif success == 'emf' %}
  <div class="success">
    {{ _('Your email address has been updated') }}
  </div>
{% elif success == 'un' %}
  <div class="success">
    {{ _('Your username has been updated') }}
  </div>
{% endif %}

{% if error == 'eae' %}
  <div class="error">
    {{ _('That email address is already in use.') }}
  </div>
{% elif error == 'pwo' %}
  <div class="error">
    {{ _('The password that you entered did not match the password we have on file.') }}
  </div>
{% elif error == 'pwc' %}
  <div class="error">
    {{ _('Your passwords did not match. Try again.') }}
  </div>
{% elif error == 'pwl' %}
  <div class="error">
    {{ _('The password you chose was not long enough. Passwords must be at least eight characters.') }}
  </div>
{% elif error == 'uau' %}
  <div class="error">
    {{ _('The username you chose is unavailable. Please try again.') }}
  </div>
{% elif error == 'uae' %}
  <div class="error">
    {{ _('The username you chose is already in use. Please try again.') }}
  </div>
{% endif %}

<div class="card card-block">
  <strong>{{ _('Timezone') }}</strong>

  <form action="{{ url('user_settings_save_tz') }}" method="post">
    
    <label>
      <span>{{ _('Selected Timezone') }}</span>
      <select name="timezone">
        {% for tz in timezones %}
          <option{{ ' selected' if user_settings.tz_offset == tz_offset(tz) else '' }}>{{ tz }}</option>
        {% endfor %}
      </select>
    </label>

    <menu class="toolbar">
      <button type="submit">{{ _('Save Timezone') }}</button>
    </menu>

    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
  </form>
</div>

<div class="card card-block">
  <strong>{{ _('Change Password') }}</strong>

  <form action="{{ url('user_settings_change_password') }}" method="post">

    <p>{{ _('Passwords must be at least eight characters') }}</p>

    <label>
      <span>{{ _('Old Password') }}</span>
      <input required type="password" name="old_password">
    </label>

    <label>
      <span>{{ _('New Password') }}</span>
      <input required type="password" name="new_password" minlength="8">
    </label>

    <label>
      <span>{{ _('Confirm') }}</span>
      <input required type="password" name="confirm_password">
    </label>

    <menu class="toolbar">
      <button type="submit">{{ _('Change Password') }}</button>
    </menu>

    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
  </form>
</div>

<div class="card card-block">
  <strong>{{ _('Change Email') }}</strong>

  <form action="{{ url('user_settings_change_email') }}" method="post">
    
    <p>
      {% trans %}To change your email, enter your new email address. We will send you a confirmation message containing a link that will finalize the process.{% endtrans %}
    </p>

    <label>
      <span>{{ _('New Email') }}</span>
      <input type="email" name="new_email" placeholder="me@pinecast.com">
    </label>

    <menu class="toolbar">
      <button type="submit">{{ _('Change Email') }}</button>
    </menu>

    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
  </form>
</div>


{% endblock %}
