{% extends 'sites/base.html' %}

{% block title %}
  {{ site.podcast.name }}
{% endblock %}

{% block head %}
  <link href="/static/css/site_themes/panther/style.css" rel="stylesheet">
{% endblock %}

{% block body %}
  <header style="{{ site.get_cover_style(bgcolor='#27ae60') }}">
    {% if site.logo_url %}
      <img src="{{ site.logo_url }}" alt="" class="logo" height="100" width="100">
    {% endif %}
    <h1><a href="{{ url('site_home', site_slug=site.slug) }}">{{ site.podcast.name }}</a></h1>
    <h2>{{ site.podcast.subtitle }}</h2>
  </header>
  <main>
    {% block main %}{% endblock %}
  </main>
  <footer>
    <div class="footer-row">
      {% if site.sitelink_set.count() %}
        <div class="footer-col"> 
          <strong>{{ _('Links') }}</strong> 
          <ul>
            {% for link in site.sitelink_set.all() %}
              <li>
                <a{% if link.class_name %} class="{{ link.class_name }}"{% endif %} href="{{ link.url }}">
                  {{ link.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
      <div class="footer-col">
        <strong>{{ _('Subscribe') }}</strong>
        <ul>
          <li>
            <a href="https://pinecast.com{{ url_global('feed', podcast_slug=site.podcast.slug) }}">{{ _('RSS Feed') }}</a>
          </li>
          {% if site.itunes_url %}
            <li>
              <a href="{{ site.itunes_url }}">{{ _('Subscribe on iTunes') }}</a>
            </li>
          {% endif %}
          {% if site.stitcher_url %}
            <li>
              <a href="{{ site.stitcher_url }}">{{ _('Subscribe on iTunes') }}</a>
            </li>
          {% endif %}
        </ul>
      </div>
      {% if site.siteblogpost_set.count() %}
        <div class="footer-col">
          <strong>{{ _('Blog Posts') }}</strong>
            <ul>
              {% for post in site.siteblogpost_set.all()[:5] %}
                <li>
                  <a href="{{ url('site_post', site_slug=site.slug, post_slug=post.slug) }}">
                    {{ post.title }}
                  </a>
                </li>
              {% endfor %}
            </ul>
        </div>
      {% endif %}
    </div>
  </footer>
{% endblock %}
