{% extends 'sites/panther/base.html' %}

{% block main %}

  {% for post in pager %}
    <article class="blog-post">
      <h1><a href="{{ url('site_post', site_slug=site.slug, post_slug=post.slug) }}">{{ post.title }}</a></h1>
      <div>
        {{ post.body|markdown|safe }}
      </div>
    </article>
  {% else %}
    <div class="empty-state">
      {{ _('There is nothing here yet.') }}
    </div>
  {% endfor %}

  {% if pager.has_other_pages() %}
    <div class="pagination">
      {% if pager.has_next() %}
        <a href="{{ url('site_home', site_slug=site.slug) }}?page={{ pager.next_page_number() }}">{{ _('Back in time') }}</a>
      {% endif %}
      {% if pager.has_next() and pager.has_previous() %}&bull;{% endif %}
      {% if pager.has_previous() %}
        <a href="{{ url('site_home', site_slug=site.slug) }}?page={{ pager.previous_page_number() }}">{{ _('Onwards to the future') }}</a>
      {% endif %}
    </div>
  {% endif %}

{% endblock %}
