{% extends 'sites/panther/base.html' %}

{% block main %}

  <article class="episode post-full">
    <hgroup>
      <h1>{{ episode.title }}</h1>
      {% if episode.subtitle %}
        <h2>{{ episode.subtitle }}</h2>
      {% endif %}
    </hgroup>

    <div class="published">
      {{ episode.publish|pretty_date }}
    </div>

    {% if episode.image_url %}
      <img src="{{ episode.image_url }}" alt="">
    {% endif %}

    <iframe src="https://pinecast.com{{ url_global('player', episode_id=str(episode.id)) }}" seamless height="60" style="border:0" class="pinecast-embed"></iframe>

    <div>
      {{ episode.get_html_description()|safe }}
    </div>
  </article>

{% endblock %}

{% block feedbackurl %}https://pinecast.com{{ url_global('ep_comment_box', podcast_slug=site.podcast.slug, episode_id=str(episode.id)) }}{% endblock %}
