{% extends 'sites/podcasty/base.html' %}

{% block main %}

  {% if not pager.has_previous() and site.siteblogpost_set.count() %}
    {% set post = site.siteblogpost_set.all().order_by('-publish')[0] %}
    <article class="blog-post">
      <h1 class="teaser">{{ _('From the blog') }}</h1>
      <div class="published right">
        {{ post.publish|pretty_date }}
      </div>
      <h2><a href="{{ url('site_post', site_slug=site.slug, post_slug=post.slug) }}">{{ post.title }}</a></h2>
      <div>
        {{ post.body|markdown|safe }}
      </div>
    </article>
  {% endif %}

  {% for episode in pager %}
    <article class="episode">
      <hgroup>
        <h1>{{ episode.title }}</h1>
        {% if episode.subtitle %}
          <h2>{{ episode.subtitle }}</h2>
        {% endif %}
      </hgroup>

      <div class="published">
        {{ episode.publish|pretty_date }}
      </div>

      {% if episode.image_url %}
        <img src="{{ episode.image_url }}" alt="">
      {% endif %}

      <iframe src="https://pinecast.com/player/{{ str(episode.id) }}" seamless height="60" style="border:0" class="pinecast-embed"></iframe>

      <div>
        {{ episode.description|markdown|safe }}
      </div>
    </article>
  {% else %}
    <div class="empty-state">
      {{ _('There is nothing here yet.') }}
    </div>
  {% endfor %}

  {% if pager.has_other_pages() %}
    <div class="pagination">
      {% if pager.has_next() %}
        <a href="{{ url('site_home', site_slug=site.slug) }}?page={{ pager.next_page_number() }}">{{ _('Back in time') }}</a>
      {% endif %}
      {% if pager.has_next() and pager.has_previous() %}&bull;{% endif %}
      {% if pager.has_previous() %}
        <a href="{{ url('site_home', site_slug=site.slug) }}?page={{ pager.previous_page_number() }}">{{ _('Onwards to the future') }}</a>
      {% endif %}
    </div>
  {% endif %}

{% endblock %}
