{% extends 'login_base.html' %}

{% block body %}
<hgroup>
  <h1>{{ _('Sign Up') }}</h1>
  <h2>
    {% trans %}
      Start your podcast for free, no credit card required.
    {% endtrans %}
  </h2>
</hgroup>

<form method="post" action="?" class="card">
  {% if error %}
    <div class="error">
      <strong>{{ _('Error') }}</strong> {{ error }}
    </div>
  {% endif %}

  <label>
    <span>{{ _('Your Email') }}</span>
    <input type="email" name="email" value="{{ email or '' }}" required>
    <small>{{ _('No spam, promise') }}</small>
  </label>

  <label>
    <span>{{ _('Choose A Password') }}</span>
    <input type="password" name="password" required minlength="8">
  </label>

  <div class="g-recaptcha" data-sitekey="{{ RECAPTCHA_KEY }}"></div>

  <button type="submit">{{ _('Create Account') }}</button>

  <div class="signup-footer">
    {{ _('Already a member?')}} <a href="{{ url('login') }}">{{ _('Sign In') }}</a>
  </div>

  <input type="hidden" name="timezone">
  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
</form>
{% endblock %}

{% block after_content %}
<script>
document.querySelector('[name=timezone]').value = -new Date(2016, 1).getTimezoneOffset() / 60;
</script>
<script src="https://www.google.com/recaptcha/api.js"></script>
{% endblock %}
