{% extends 'dashboard_base.html' %}
{% block dashboard_body %}

<header>
  {{ breadcrumb(podcast.name, url('podcast_dashboard', podcast_slug=podcast.slug)) }}

  <h1>{% trans name=podcast.name %}Geo Data for {{ name }}{% endtrans %}</h1>
</header>

<div class="card-block card geo-chart-placeholder"
  data-type="podcast-subscriber-locations"
  data-podcast="{{ podcast.slug }}"
  data-title="{{ _('Subscriber locations this month') }}"></div>

<div class="card-block card geo-chart-placeholder"
  data-type="podcast-listener-locations"
  data-podcast="{{ podcast.slug }}"
  data-title="{{ _('Listener locations this month') }}"></div>

{% endblock %}

{% block after_content %}
<script src="https://www.google.com/jsapi"></script>
<script src="/static/js/react-0.13.3.min.js"></script>
<script src="/static/js/ui-geo-chart.js"></script>
{% endblock %}
