{% extends 'dashboard/base.html' %}
{% block dashboard_body %}

<header>
  {{ breadcrumb(podcast.name, url('podcast_dashboard', podcast_slug=podcast.slug)) }}

  {% if podcast.owner == user %}
    <menu class="toolbar toolbar-right">
      {% if minimum_plan(podcast.owner, PLANS.FEATURE_MIN_SITES) %}
        {% if not podcast.site %}
          <li><a class="btn btn-plain" href="{{ url('new_site', podcast_slug=podcast.slug)}}">{{ _('Create Site') }}</a></li>
        {% else %}
          <li><a class="btn btn-plain" href="{{ url('site_options', podcast_slug=podcast.slug)}}">{{ _('Site Options') }}</a></li>
        {% endif %}
      {% endif %}
      <li><a class="btn btn-danger" href="{{ url('delete_podcast', podcast_slug=podcast.slug) }}">{{ _('Delete Podcast') }}</a></li>
    </menu>
  {% endif %}

  <h1>{{ _('Edit Podcast') }}</h1>
</header>

{% if error %}
<div class="error">
  {{ _('Please check that all fields are filled out correctly.') }}
</div>
{% endif %}

<form action="?" method="post">
  <div class="card-block card">
    <strong>{{ _('Details') }}</strong>

    <label>
      <span>{{ _('Name') }}</span>
      <input type="text"
        name="name"
        placeholder="{{ _('My Great Podcast') }}"
        required
        maxlength="256"
        value="{{ default.get('name', podcast.name) }}">
    </label>

    <label>
      <span>{{ _('Slug') }}</span>
      <input type="text"
        name="slug"
        placeholder="{{ _('my-great-podcast') }}"
        required
        maxlength="64"
        pattern="[\w-]+"
        class="slug-field"
        value="{{ default.get('slug', podcast.slug) }}">
      <div class="url-availability"></div>
      <div class="warning slug-warning">
        {{ _('WARNING! Changing your slug will change your RSS feed URL. You will lose all of your subscribers.') }}
      </div>
    </label>

    <label>
      <span>{{ _('Subtitle') }}</span>
      <input type="text"
        name="subtitle"
        maxlength="512"
        value="{{ default.get('subtitle', podcast.subtitle) }}">
    </label>

    <label>
      <input type="checkbox" name="is_explicit" value="true" {{ 'checked' if default.get('is_explicit', 'true' if podcast.is_explicit else 'false') == 'true' }}>
      <span>{{ _('Explicit?') }}</span>
    </label>

    <label>
      <span>{{ _('Description') }}</span>
      {#
      There's a self XSS here. You could enter </ textarea > or something
      similar, and it'll parse as valid HTML probably. It's not great, but it's
      an acceptable risk.
      #}
      <textarea name="description">{{ default.get('description', podcast.description)|replace('</textarea>', '')|safe }}</textarea>
    </label>
  </div>

  <div class="card-block card">
    <strong>{{ _('Meta') }}</strong>

    <div class="flex-row">
      <div class="col">
        <label>
          <span>{{ _('Homepage') }}</span>
          <input type="url" name="homepage" placeholder="https://my-great-podcast.biz" required value="{{ default.get('homepage', podcast.homepage) }}">
        </label>

        <label>
          <span>{{ _('Language') }}</span>
          <input type="text" name="language" placeholder="en-US" required maxlength="16" value="{{ default.get('language', podcast.language)}}">
        </label>

      </div>
      <div class="col">
        <label>
          <span>{{ _('Copyright') }}</span>
          <input type="text"
            name="copyright"
            maxlength="1024"
            placeholder="{{ _('Copyright 2015 Foo Bar Inc.') }}"
            required
            value="{{ default.get('copyright', podcast.copyright) }}">
        </label>

        <label>
          <span>{{ _('Author') }}</span>
          <input type="text"
            name="author_name"
            maxlength="1024"
            placeholder="Jane Doe"
            required
            value="{{ default.get('author_name', podcast.author_name) }}">
        </label>

      </div>
    </div>

  </div>

  <div class="card-block card">
    <strong>{{ _('Cover Art') }}</strong>
    <div class="upload-placeholder"
      data-default-url="{{ sign(default.get('image-url', podcast.cover_image)) }}"
      data-default-size="{{ default.get('image-url-size') }}"
      data-default-name="{{ default.get('image-url-name') }}"
      data-default-type="{{ default.get('image-url-type', 'image/jpeg') }}"
      data-accept="image/*"
      data-name="image-url"
      data-type="image"
      data-podcast="$none"></div>
  </div>

  <div class="card-block card">
    <strong>{{ _('Categories') }}</strong>
    <div class="category-placeholder"
      data-name="categories"
      data-trans-unselcats="{{ _('Unselected Categories') }}"
      data-trans-selcats="{{ _('Selected Categories') }}"
      data-default-cats="{{ default.get('categories', podcast.get_category_list()) }}"></div>
  </div>

  <menu class="toolbar">
    <li><button type="submit">{{ _('Save') }}</button></li>
  </menu>

  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
</form>

{% endblock %}

{% block after_content %}
<link href="/static/css/markdown-editor.css" rel="stylesheet">
<script src="/static/js/react-0.13.3.min.js"></script>
<script src="/static/js/ui-uploader.js"></script>
<script src="/static/js/disable-forms.js"></script>
<script>

window.PODCAST_CATEGORIES = {{ PODCAST_CATEGORIES|safe }};

(function() {
  var slugField = document.querySelector('.slug-field');
  var urlAvail = document.querySelector('.url-availability');

  var slugDebounce;
  var slugXHR;

  slugField.addEventListener('input', function() {
    if (slugDebounce) clearTimeout(slugDebounce);
    if (slugXHR) slugXHR.abort();
    if (!slugField.validity.valid || slugField.value === slugField.defaultValue) {
      urlAvail.textContent = urlAvail.innerText = '';
      urlAvail.className = 'url-availability';
      return;
    }
    slugDebounce = setTimeout(validateSlug, 500);
  });

  function validateSlug() {
    var xhr = new XMLHttpRequest();
    xhr.onload = function() {
      slugXHR = null;
      var parsed = JSON.parse(xhr.responseText);
      if (parsed.valid) {
        urlAvail.textContent = urlAvail.innerText = '{% trans slug=("' + slugField.value + '"|safe) %}"{{ slug }}" is available!{% endtrans %}';
        urlAvail.className = 'url-availability is-available';
      } else {
        urlAvail.textContent = urlAvail.innerText = '{% trans slug=("' + slugField.value + '"|safe) %}"{{ slug }}" is unavailable{% endtrans %}';
        urlAvail.className = 'url-availability is-unavailable';
      }
    };
    xhr.open('get', '/dashboard/services/slug_available?slug=' + encodeURIComponent(slugField.value), true);
    xhr.send();
    slugXHR = xhr;
  }

}());

</script>
{# Must come after the PODCAST_CATEGORIES declaration above #}
<script src="/static/js/ui-categories.js"></script>
{% endblock %}
