@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    background: linear-gradient(0deg, #252C36, #353E4C);
    color: #212121;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font-family: Montserrat, Open Sans, sans-serif;
    font-size: 13px;
    height: 100%;
    min-height: 100%;
}

header {
    background: #fff;
    height: 60px;
    left: 0;
    line-height: 60px;
    padding: 0 15px;
    position: fixed;
    right: 0;
    text-align: right;
    top: 0;
    z-index: 50;
}
header > div {
    margin: auto;
    max-width: 1024px;
}

header h1 {
    float: left;
    font-size: 13px;
    line-height: 59px;
    margin: 0;
    padding: 0;
}
header h1 a {
    color: #48556A;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.2s;
}
header h1 a:hover {
    color: #8B75EF;
}
header h1 a:before {
    background: url(/static/img/logo.svg);
    background-size: 18px 18px;
    content: '';
    display: inline-block;
    height: 18px;
    margin-right: 8px;
    vertical-align: middle;
    width: 18px;
}
header h1 a span {
    vertical-align: middle;
}
header .support-link {
    color: #273650;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
}
header .support-link:hover {
    text-decoration: underline;
}



.main-container {
    padding-top: 60px;
}

main {
    padding-top: 100px;
    text-align: center;
}
main hgroup {
    color: #fff;
    padding-bottom: 24px;
}
main hgroup h1 {
    font-size: 28px;
    line-height: 38px;
    margin: 0;
}
main hgroup h2 {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    margin: 0;
}

main .card {
    background: #fff;
    box-shadow: 0 5px 13px rgba(0, 0, 0, 0.15);
    color: #48556A;
    font-size: 14px;
    margin: auto;
    max-width: 385px;
    padding: 35px 40px;
    text-align: left;
}
main form.card {
    padding-bottom: 0;
}

form label {
    display: block;
    margin-bottom: 10px;
}
form label > span {
    color: #888;
    font-size: 12px;
    display: block;
}
form label > input[type="text"],
form label > input[type="email"],
form label > input[type="url"],
form label > input[type="number"],
form label > input[type="password"],
form label > input[type="datetime-local"],
form label > textarea {
    border: 1px solid #c5c5c5;
    border-radius: 2px;
    box-shadow: 0 0 0 transparent;
    font-size: 14px;
    margin: 2px 0 5px;
    padding: 8px;
    transition: box-shadow 0.2s, border-color 0.2s;
    width: 100%;
}
form label > small {
    color: #aaa;
    display: block;
    margin-bottom: 5px;
    margin-top: -3px;
}

form .g-recaptcha {
    margin-top: 20px;
}

form button[type=submit] {
    background: #8B75EF;
    border: 0;
    border-radius: 3px;
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin: 20px 0;
    padding: 11px 0;
    width: 100%;
}

form .signup-footer {
    border-top: 1px solid #D8D8D8;
    padding: 20px 0;
}
form .post-submit-links {
    margin: 20px 0;
}

form a {
    color: #8B75EF;
}

form p {
    margin: 0 0 20px;
}

.error {
    background: #e74c3c;
    border-radius: 4px;
    color: #fff;
    margin: 0 0 10px;
    padding: 20px;
}
.warning {
    background: #e67e22;
    border-radius: 4px;
    color: #fff;
    margin: 0 0 10px;
    padding: 20px;
}
.success {
    background: #4FCAB2;
    border-radius: 4px;
    color: #fff;
    margin: 0 0 10px;
    padding: 20px;
}
