{% extends 'dashboard/base.html' %}
{% block dashboard_body %}
<header>
  {{ breadcrumb(podcast.name, url('podcast_dashboard', podcast_slug=podcast.slug)) }}

  <menu class="toolbar toolbar-right">
    <li><a class="btn" href="{{ url('edit_podcast_episode', kwargs={'podcast_slug': podcast.slug, 'episode_id': str(episode.id)}) }}">{{ _('Edit Episode') }}</a></li>
  </menu>

  <hgroup>
    <h1>{{ episode.title }}</h1>
    <h2>{{ episode.subtitle }}</h2>
  </hgroup>
  
</header>

<div class="row">
  <div class="card stat-card">
    <strong>{{ _('Total Listens') }}</strong>
    <span>{{ analytics.total_listens }}</span>
  </div>
  <div class="card stat-card">
    <strong>{{_('Published') if episode.is_published() else _('Pending')}}</strong>
    <span><time datetime="{{ episode.publish + tz_delta }}" title="{{ episode.publish + tz_delta }}">{{ (episode.publish + tz_delta)|pretty_date }}</time></span>
  </div>
</div>

<menu class="tabs dynamic">
  <li class="selected"><a data-tab=".tab-overview" href="">{{ _('Overview') }}</a></li>
  <li><a data-tab=".tab-feedback" href="">{{ _('Feedback') }}</a></li>
  <li><a data-tab=".tab-analytics" href="">{{ _('Analytics') }}</a></li>
  <li><a data-tab=".tab-audio" href="">{{ _('Audio') }}</a></li>
</menu>

<div class="tab-overview">
  <div class="card-block card">
    <strong>{{ _('Description') }}</strong>
    <div class="markdown-editor-preview">
      {{ episode.get_html_description()|safe }}
    </div>
  </div>

  {% if podcast.site %}
    <div class="card-block card">
      <strong>{{ _('Site Page URL') }}</strong>
      <input type="url"
        readonly
        value="http://{{ podcast.site.slug }}.pinecast.co/episode/{{ str(episode.id) }}"
        class="width-full">
    </div>
  {% endif %}
  
  <div class="card-block card">
    <strong>{{ _('Episode information') }}</strong>
    <dl>
      <dt>{{ _('Created') }}</dt> {#- -#}
      <dd><abbr title="{{ episode.created + tz_delta }}">{{ (episode.created + tz_delta).strftime('%Y-%m-%d') }}</abbr></dd>
      
      <dt>{{ _('Published') if episode.is_published() else _('Publish On') }}</dt> {#- -#}
      <dd><abbr title="{{ episode.publish + tz_delta }} (UTC)">{{ (episode.publish + tz_delta).strftime('%Y-%m-%d') }}</abbr></dd>
      
      <dt>{{ _('Duration') }}</dt> {#- -#}
      <dd>
        {{ '%02d'|format((episode.duration / 3600)|round(1, 'floor')|int) }} :
        {{ '%02d'|format((episode.duration % 3600 / 60)|round(1, 'floor')|int) }} :
        {{ '%02d'|format((episode.duration % 60)|round(1, 'floor')|int) }}
      </dd>
      
      <dt>{{ _('File Size') }}</dt> {#- -#}
      <dd>{{ episode.audio_size|filesizeformat }}</dd>
      
      <dt>{{ _('File Type') }}</dt> {#- -#}
      <dd>{{ episode.audio_type }}</dd>
      
      <dt>{{ _('Copyright') }}</dt> {#- -#}
      <dd>
        {% if episode.copyright %}
          {{ episode.copyright }}
        {% elif podcast.copyright %}
          {{ podcast.copyright }}<br>
          <small>{{ _('(inherited copyright from podcast)') }}</small>
        {% endif %}
      </dd>
      
      <dt>{{ _('License') }}</dt> {#- -#}
      <dd>{{ episode.license }}</dd>

    </dl>
  </div>
</div>

<div class="tab-feedback">
  <div class="card-block card">
    <strong>{{ _('Comment Box') }}</strong>
    <p>{{ _('Your listeners can leave questions, comments, and other feedback about this episode at this URL.') }}</p>
    <input type="url"
      title="{{ _('Comment Box') }}"
      readonly
      value="https://pinecast.com{{ url('ep_comment_box', kwargs={'podcast_slug': podcast.slug, 'episode_id': str(episode.id)}) }}"
      class="width-full">
  </div>
  {% for f in feedback %}
    <div class="card-block card card-comment">
      <a class="comment-from" href="mailto:{{ f.sender }}">
        <img src="{{ gravatar(f.sender) }}" class="comment-from-gravatar">
        <span>{{ f.sender }}</span>
      </a>
      <p>{{ f.message }}</p>
      <menu class="toolbar">
        <a href="{{ url('delete_comment', kwargs={'podcast_slug': podcast.slug, 'comment_id': str(f.id)}) }}">{{ _('Delete Comment') }}</a>
      </menu>
    </div>
  {% else %}
    <div class="episode-empty-state empty-state">
      {{ _('Nobody has submitted feedback about the episode yet.') }}
    </div>
  {% endfor %}
</div>

<div class="tab-analytics" style="overflow: hidden; height: 0">
  {% if analytics.total_listens %}
    <div class="card-block card chart-placeholder"
      data-type="episode-listen-history"
      data-podcast="{{ podcast.slug }}"
      data-episode="{{ str(episode.id) }}"
      data-title="{{ _('Listen history over one month') }}"
      data-chart-type="line"></div>

    <div class="card-block card">
      <div class="chart-placeholder"
        data-type="episode-listen-breakdown"
        data-podcast="{{ podcast.slug }}"
        data-episode="{{ str(episode.id) }}"
        data-title="{{ _('Listens by Source') }}"
        data-chart-type="pie"></div>
    </div>
  {% else %}
    <div class="episode-empty-state empty-state">
      {% trans %}Analytics will become available when you've received your first listen{% endtrans %}
    </div>
  {% endif %}
</div>

<div class="tab-audio" style="overflow: hidden; height: 0">
  <iframe src="/player/{{ str(episode.id) }}" seamless height="60" style="border:0" class="pinecast-embed"></iframe>

  <div class="card-block card">
    <strong>{{ _('Embed Code') }}</strong>
    {% if minimum_plan(podcast.owner, PLANS.FEATURE_MIN_PLAYER) %}
      <textarea readonly class="embed-textarea"><iframe src="https://pinecast.com{{ url('player', episode_id=str(episode.id)) }}" seamless height="60" style="border:0" class="pinecast-embed" frameborder="0"></iframe></textarea>
    {% else %}
      <div class="upgrade-empty-state empty-state">
        {% if podcast.owner == user %}
          {{ _('Upgrade your account to a paid plan to be able to embed the player on other websites.') }}<br>
          <a class="btn" href="/accounts/upgrade">{{ _('Upgrade Now') }}</a>
        {% else %}
          {{ _('The embeddable player is only available to podcasts owned by paid users.') }}
        {% endif %}
      </div>
    {% endif %}
  </div>
  
  <div class="card-block card">
    <strong>{{ _('Audio URL') }}</strong>
    <input type="url"
      readonly
      value="https://pinecast.com{{ url('listen', kwargs={'episode_id': str(episode.id)}) }}"
      class="width-full">
  </div>
  
  {% if minimum_plan(podcast.owner, PLANS.FEATURE_MIN_TORRENT) %}
    <div class="card-block card">
      <strong>{{ _('Torrent URL') }}</strong>
      <p>{{ _('Note that downloads via BitTorrent are not counted towards listen stats.') }}</p>
      <input type="url"
        readonly
        value="{{ episode.audio_url }}?torrent"
        class="width-full">
    </div>
  {% endif %}

</div>

{% endblock %}

{% block after_content %}
<script src="/static/js/react-0.13.3.min.js"></script>
<script src="/static/js/chartjs-1.0.2.min.js"></script>
<script src="/static/js/ui-chart.js"></script>
<script src="/static/js/tabs.js"></script>
{% endblock %}
