{% extends 'dashboard/base.html' %}
{% block dashboard_body %}

<header>
  {{ breadcrumb(podcast.name, url('podcast_dashboard', podcast_slug=podcast.slug)) }}
  <h1>{{ _('New Episode') }}</h1>
</header>

{% if error %}
<div class="error">
  {{ _('Please check that all fields are filled out correctly.') }}
</div>
{% endif %}

<form action="?" method="post">
  <div class="card-block card">
    <strong>{{ _('Details') }}</strong>

    <label>
      <span>{{ _('Title') }}</span>
      <input type="text"
        name="title"
        placeholder="{{ _('Episode 1 - Best one ever') }}"
        required
        maxlength="1024"
        value="{{ default.get('title') }}"
        class="width-full">
    </label>

    <label>
      <span>{{ _('Subtitle') }}</span>
      <input type="text"
        name="subtitle"
        placeholder="{{ _('You\'ll never believe it') }}"
        maxlength="1024"
        value="{{ default.get('subtitle') }}"
        class="width-full">
    </label>

    <label>
      <span>{{ _('Publish On') }}</span>
      <input type="datetime-local"
        name="publish"
        required
        value="{{ default.get('publish') }}">
      <button class="publish-now btn-neutral">{{ _('Now') }}</button>
    </label>

    <label>
      <span>{{ _('Explicit Override') }}</span>
      <select name="explicit_override">
        {% set exp_ov = default.get('explicit_override') %}
        <option value="none" {{ 'selected' if exp_ov == 'none' else '' }}>
          {{ _('Default for podcast (%s)') % (_('explicit') if podcast.is_explicit else _('clean')) }}
        </option>
        <option value="expl" {{ 'selected' if exp_ov == 'expl' else '' }}>{{ _('Explicit') }}</option>
        <option value="clen" {{ 'selected' if exp_ov == 'clen' else '' }}>{{ _('Clean') }}</option>
      </select>
    </label>

    <label>
      <span>{{ _('Episode Description') }}</span>
      {#
      There's a self XSS here. You could enter </ textarea > or something
      similar, and it'll parse as valid HTML probably. It's not great, but it's
      an acceptable risk.
      #}
      <textarea name="description" id="description-field">{{ default.get('description', _('# Episode Notes\n\nNotes go here'))|replace('</textarea>', '')|safe }}</textarea>
    </label>

    {% set flags = podcast.get_available_flair_flags() %}
    {% if flags %}
      <div class="flair-options">
        <p>{{ _('Choose flair to show at the bottom of your episode description:') }}</p>
        <ul>
          {% for flag, flag_name in flags %}
            <li>
              <label class="checkbox">
                <input type="checkbox" name="flair_{{ flag }}"{{ ' checked' if default.get('flair_%s' % flag, getattr(latest_ep.description_flair, flag) if latest_ep else False) else '' }}>
                <span>{{ flag_name }}</span>
              </label>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

  </div>

  <div class="card-block card">
    <strong>{{ _('Episode Image') }}</strong>

    <div class="upload-placeholder"
      data-default-url="{{ sign(default.get('image-url', podcast.cover_image)) }}"
      data-default-size="{{ default.get('image-url-size') }}"
      data-default-name="{{ default.get('image-url-name', _('Current podcast cover image')) }}"
      data-default-type="{{ default.get('image-url-type') }}"
      data-accept="image/*"
      data-name="image-url"
      data-type="image"
      data-podcast="{{ podcast.slug }}"></div>
  </div>

  <div class="card-block card">
    <strong>{{ _('Audio') }}</strong>
    <div class="upload-placeholder"
      data-default-url="{{ sign(default.get('audio-url')) if default.get('audio-url') else '' }}"
      data-default-size="{{ default.get('audio-url-size') }}"
      data-default-name="{{ default.get('audio-url-name') }}"
      data-default-type="{{ default.get('audio-url-type') }}"
      data-accept="audio/*"
      data-name="audio-url"
      data-type="audio"
      data-podcast="{{ podcast.slug }}"
      data-audio-duration-selector=".duration-control"></div>

    <label class="duration-control">
      <span>{{ _('Duration') }}</span>
      <input type="number" class="duration-hours" name="duration-hours" value="{{ default.get('duration-hours', '0') }}" title="{{ _('Hours') }}">:
      <input type="number" class="duration-minutes" name="duration-minutes" value="{{ default.get('duration-minutes', '0') }}" title="{{ _('Minutes') }}">:
      <input type="number" class="duration-seconds" name="duration-seconds" value="{{ default.get('duration-seconds', '0') }}" title="{{ _('Seconds') }}">
    </label>

  </div>

  {% if minimum_plan(podcast.owner, PLANS.FEATURE_MIN_COMMENT_BOX) %}
  <div class="card-block card">
    <strong>{{ _('Feedback') }}</strong>

    <label>
      <span>{{ _('Custom Prompt') }}</span>
      <input type="text"
        name="feedback_prompt"
        maxlength="1024"
        value="{{ default.get('feedback_prompt') }}">
    </label>

  </div>
  {% endif %}

  <div class="card-block card">
    <strong>{{ _('Meta') }}</strong>

    <label>
      <span>{{ _('Copyright') }}</span>
      <input type="text"
        name="copyright"
        maxlength="1024"
        value="{{ default.get('copyright') }}"
        placeholder="{{ podcast.copyright }}">
      <small>{{ _('Leave blank to use the copyright from the podcast') }}</small>
    </label>

    <label>
      <span>{{ _('License') }}</span>
      <input type="text"
        name="license"
        maxlength="1024"
        placeholder="{{ _('Creative Commons 4.0') }}"
        value="{{ default.get('license') }}">
    </label>

  </div>

  <menu class="toolbar">
    <li><button type="submit">{{ _('Save New Episode') }}</button></li>
  </menu>

  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
</form>

{% endblock %}

{% block after_content %}
<link href="/static/css/markdown-editor.css" rel="stylesheet">
<script src="/static/js/react-0.13.3.min.js"></script>
<script src="/static/js/markdown-editor.js"></script>
<script src="/static/js/ui-uploader.js"></script>
<script src="/static/js/publish-now.js"></script>
<script src="/static/js/disable-forms.js"></script>
<script>
markdown(document.querySelector('textarea'));
</script>
{% endblock %}
