{% extends 'dashboard/base.html' %}
{% block dashboard_body %}

<header>
  {{ breadcrumb(episode.title, url('podcast_episode', podcast_slug=podcast.slug, episode_id=str(episode.id))) }}

  <h1>{% trans name=episode.title %}Geo Data for {{ name }}{% endtrans %}</h1>
</header>

<div class="card-block card geo-chart-placeholder"
  data-type="episode-listener-locations"
  data-podcast="{{ podcast.slug }}"
  data-episode="{{ str(episode.id) }}"
  data-title="{{ _('Listener locations this month') }}"></div>

{% endblock %}

{% block after_content %}
<script src="https://www.google.com/jsapi"></script>
<script src="/static/js/react-0.13.3.min.js"></script>
<script src="/static/js/ui-geo-chart.js"></script>
{% endblock %}
