@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Righteous);

html, body {
    background: #f0f0f0;
    font-family: Lato, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

a {
    color: #2196F3;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: #673AB7;
}

h1 {
    font-family: Righteous;
}

p {
    line-height: 2em;
}

header {
    text-align: center;
}
header div {
    background-position: center center;
    background-size: cover;
    padding: 250px 25%;
}
header div a,
header div a:visited {
    color: #fff;
    display: block;
    font-family: Righteous;
    font-size: 80px;
    line-height: 1.025em;
    text-decoration: none;
    text-transform: uppercase;
}
header div a:hover {
    text-decoration: underline;
}

.home-blog {
    font-size: 18px;
    margin: 0 auto;
    max-width: 1024px;
    padding: 10px 20px 20px;
}
.home-blog ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
.home-blog li a {
    display: block;
    padding: 30px 15px;
}
.home-blog li + li {
    border-top: 1px solid #ccc;
}
.home-blog p {
    color: #444;
    font-size: 14px;
    padding-left: 10px;
}
.home-blog p a {
    color: #212121;
    text-decoration: underline;
}


.blog-post {
    margin: 0 auto;
    max-width: 1024px;
    padding: 40px 0;
}


.episodes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 990px;
    padding-bottom: 40px;
}
.episodes:first-child {
    padding-top: 40px;
}
.episode {
    box-shadow: 0 0 0 transparent;
    height: 300px;
    margin: 0 15px 20px;
    transition: box-shadow 0.2s;
    width: 300px;
}
.episode.is-expanded {
    background: #fff;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    height: 300px;
    padding-left: 300px;
    width: calc(100% - 300px);
}
.episode .expando {
    display: none;
    padding: 20px;
}
.episode.is-expanded .expando {
    display: block;
}
.episode.is-expanded img {
    float: left;
    margin-left: -300px;
}


.episode hgroup h1 {
    font-family: Lato;
    font-size: 2em;
    font-weight: normal;
    margin: 0;
    text-transform: uppercase;
}
.episode hgroup h2 {
    color: #009688;
    font-family: Lato;
    font-size: 1.5em;
    font-weight: normal;
    margin: 0;
}
.episode div h1 {
    font-family: Lato;
    font-size: 1.2em;
    font-weight: bold;
}
.episode div h2 {
    font-family: Lato;
    font-size: 18px;
    font-weight: normal;
}
.episode div h3 {
    font-family: Lato;
    font-size: 1.1em;
    font-weight: normal;
}
.episode .description {
    height: 150px;
    overflow: hidden;
    position: relative;
}
.episode .description:after {
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    bottom: 0;
    content: "";
    display: block;
    height: 30px;
    left: 0;
    position: absolute;
    right: 0;
}

.blog-post .published:not(.right) {
    color: #999;
    font-size: 16px;
    font-style: italic;
    padding: 20px 0;
}
.episode .pinecast-embed {
    margin: 0;
    width: 100%;
}

footer > section > * {
    margin: 0 auto;
    max-width: 1024px;
}
.footer-links {
    background: #CDDDE4;
    padding: 40px 0;
}
.footer-links a {
    color: #212121;
}
.footer-links a + a {
    margin-left: 20px;
}
.footer-copyright {
    background: #607D8B;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 20px 0;
}

.pagination {
    font-size: 1.2em;
    font-weight: bold;
    padding: 30px;
    text-align: center;
}

.empty-state {
    font-style: italic;
    padding: 150px;
    text-align: center;
}

.post-full h1 {
    color: #444;
    font-size: 2.5em;
    margin-bottom: 1em;
    text-transform: uppercase;
}
.post-full .published {
    margin-bottom: 2em;
}

.btn {
    background: #009688;
    border-radius: 0.2em;
    box-shadow: 0 3px rgba(0, 0, 0, 0.2);
    color: #fff;
    display: inline-block;
    line-height: 1em;
    margin: 0 10px;
    padding: 0.5em 1em;
    position: relative;
    text-decoration: none;
    top: 0;
    transition: box-shadow 0.2s, top 0.1s;
    vertical-align: middle;
}
.btn:hover {
    box-shadow: 0 5px rgba(0, 0, 0, 0.1);
}
.btn:active {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    top: 3px;
}
.btn:visited {
    color: #fff;
}
