{% extends 'dashboard/base.html' %}

{% block subheader %}
<section class="subheader">
  <div>
    <hgroup>
      <h1>{{ _('Your Dashboard') }}</h1>
    </hgroup>
  </div>
</section>
<nav class="tabs dynamic">
  <ul>
    <li class="selected">
      <a href="" data-tab=".tab-shows">{{ _('Podcasts') }}</a>
    </li>
    <li>
      <a href="" data-tab=".tab-networks">{{ _('Networks') }}</a>
    </li>
  </ul>
</nav>
{% endblock %}

{% block dashboard_body %}

<div class="tab-shows dashboard">
  <div class="{{ 'tab-buttons' if podcasts else 'buttons-empty-state' }}">
    {% if not podcasts %}
      <p>{{ _("You're ready to create your first podcast! Choose whether to start a new podcast or import an existing one.") }}</p>
    {% endif %}
    <a class="btn" href="{{ url('new_podcast') }}">
      {% if podcasts %}
        {{ _('New Podcast') }}
      {% else %}
        {{ _('Create Your First Podcast') }}
      {% endif %}
    </a>
    <a class="btn" href="{{ url('importer') }}">
      {{ _('Move Podcast to Pinecast') }}
    </a>
  </div>
  <ul>
  {% for p in podcasts %}
    <li class="card"
      {% if p.is_still_importing() %}data-still-importing="{{ _('Import in progress...') }}"{% endif %}>

      <a href="{{ url('podcast_dashboard', kwargs={'podcast_slug': p.slug}) }}">
        <strong>{{ p.name }}</strong>
        {%- if p.subtitle %}<span class="dashboard-item-subtitle">{{ p.subtitle }}</span>{% endif -%}
        {%- if p.get_unpublished_count() -%}
          <span class="icon-clock">
            {% trans count=p.get_unpublished_count() %}
              {{ count }} pending episode
            {% pluralize %}
              {{ count }} pending episodes
            {% endtrans %}
          </span>
        {%- endif -%}
        {%- if p.owner != user -%}
          <span>
            {% trans owner=p.owner %}
              Owned by {{ owner }}
            {% endtrans %}
          </span>
        {%- endif -%}
        {%- if p.get_most_recent_publish_date() -%}
          <span>
            {% trans timestamp=p.get_most_recent_publish_date()|pretty_date %}
              Last published {{ timestamp }}
            {% endtrans %}
          </span>
        {%- endif -%}
      </a>
    </li>
  {% endfor %}
  </ul>
</div>
<div class="tab-networks dashboard">
  <div class="{{ 'tab-buttons' if podcasts else 'buttons-empty-state' }}">
    {% if not networks.count() %}
      <p>{{ _("Start collaborating with your peers on network of podcasts. Create your first network in seconds.") }}</p>
    {% endif %}
    <a class="btn" href="{{ url('new_network') }}">
      {{ _('New Network') }}
    </a>
  </div>
  {% if networks %}
    <ul>
      {% for n in networks %}
        <li class="card">
          <a href="{{ url('network_dashboard', network_id=str(n.id)) }}">
            <strong>{{ n.name }}</strong>
            <span>
              {% trans n=n.get_podcast_count() %}
                {{ n }} show
              {% pluralize %}
                {{ n }} shows
              {% endtrans %}
            </span>
            <span>
              {% trans n=n.get_member_count() %}
                {{ n }} member
              {% pluralize %}
                {{ n }} members
              {% endtrans %}
            </span>
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>

{% endblock %}

{% block after_content %}
<script src="/static/js/tabs.js"></script>
{% endblock %}
