{% extends 'dashboard/base.html' %}
{% block dashboard_body %}

<header>
  <h1>{{ _('Your Dashboard') }}</h1>
</header>

{% if networks %}
  <ul class="dashboard-networks">
    {% for n in networks %}
      <li>
        <a href="{{ url('network_dashboard', network_id=str(n.id)) }}">{{ n.name }}</a>
        <div class="stat">
          {% trans n=n.get_podcast_count() %}
            {{ n }} show
          {% pluralize %}
            {{ n }} shows
          {% endtrans %}
        </div>
        <div class="stat">
          {% trans n=n.get_member_count() %}
            {{ n }} member
          {% pluralize %}
            {{ n }} members
          {% endtrans %}
        </div>
      </li>
    {% endfor %}
  </ul>
{% endif %}

<ul class="dashboard-podcasts">
  {% for p in podcasts %}
    <li class="ticket{{ ' owned-external' if p.owner != user else '' }}"
      {% if p.is_still_importing() %}data-still-importing="{{ _('Import in progress...') }}"{% endif %}>
      <a href="{{ url('podcast_dashboard', kwargs={'podcast_slug': p.slug}) }}">
        {{ p.name }}
      </a>
      <div class="ticket-details">
        {%- if p.subtitle %}<span>{{ p.subtitle }}</span>{% endif -%}
        {%- if p.get_unpublished_count() -%}
          <span class="icon-clock">
            <a href="{{ url('podcast_dashboard', podcast_slug=p.slug) }}#tab-episodes" class="b">
              {% trans count=p.get_unpublished_count() %}
                {{ count }} pending episode
              {% pluralize %}
                {{ count }} pending episodes
              {% endtrans %}
            </a>
          </span>
        {%- endif -%}
        {%- if p.owner != user -%}
          <span>
            <b>
              {% trans owner=p.owner %}
                Owned by {{ owner }}
              {% endtrans %}
            </b>
          </span>
        {%- endif -%}
        {%- if p.get_most_recent_publish_date() -%}
          <span>
            <b>
              {% trans timestamp=p.get_most_recent_publish_date()|pretty_date %}
                Last published {{ timestamp }}
              {% endtrans %}
            </b>
          </span>
        {%- endif -%}
      </div>
    </li>
  {% endfor %}
  <li class="ticket option">
    <a href="{{ url('new_podcast') }}">
      {% if podcasts %}
        {{ _('Create a new podcast') }}
      {% else %}
        {{ _('Create your first podcast') }}
      {% endif %}
    </a>
  </li>
  <li class="ticket option">
    <a href="{{ url('importer') }}">
      {{ _('Import Existing Podcast') }}
    </a>
  </li>
  <li class="ticket option">
    <a href="{{ url('new_network') }}">
      {{ _('New Network') }}
    </a>
  </li>
</ul>

{% endblock %}
