{% extends 'dashboard/base.html' %}
{% block dashboard_body %}

<header>
  <h1>
    {% trans title=episode.title, name=podcast.name %} Delete {{ title }} from {{ name }}?{% endtrans %}
  </h1>
</header>

<form action="?" method="post">
  <div class="card-block card">
    <strong>{{ _('Confirm Delete') }}</strong>
    <p>
      {% trans title=episode.title %}Are you absolutely sure you wish to delete "{{ title }}"? This is permanent.{% endtrans %}
    </p>
    
    <menu class="toolbar">
      <li><button type="submit" class="btn-danger">{{ _('I\'m sure' )}}</button></li>
      <li><a class="btn btn-neutral" href="{{ url('podcast_episode', kwargs={'podcast_slug': podcast.slug, 'episode_id': str(episode.id)})}}">{{ _('Never mind') }}</a></li>
    </menu>
  </div>

  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
</form>
{% endblock %}
