{% extends 'dashboard_base.html' %}
{% block dashboard_body %}

<header>
  <h1>Delete {{ episode.title }} from {{ podcast.name }}?</h1>
</header>

<form action="?" method="post">
  <div class="card-block card">
    <strong>Confirm Delete</strong>
    <p>Are you absolutely sure you wish to delete "{{ episode.title }}"? This is permanent.</p>
    
    <menu class="toolbar">
      <li><button type="submit" class="btn-danger">I'm sure</button></li>
      <li><a class="btn btn-neutral" href="{{ url('podcast_episode', kwargs={'podcast_slug': podcast.slug, 'episode_id': str(episode.id)})}}">Never mind</a></li>
    </menu>
  </div>

  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
</form>
{% endblock %}
