{% extends 'dashboard_base.html' %}
{% block dashboard_body %}

<header>
  {{ breadcrumb(episode.title, url('podcast_episode', kwargs={'podcast_slug': podcast.slug, 'episode_id': str(episode.id)})) }}

  <menu class="toolbar toolbar-right">
    <li><a class="btn btn-danger" href="{{ url('delete_podcast_episode', kwargs={'podcast_slug': podcast.slug, 'episode_id': str(episode.id)}) }}">{{ _('Delete Episode') }}</a></li>
  </menu>
  <h1>{% trans title=episode.title %}Edit {{ title }}{% endtrans %}</h1>
</header>

{% if error %}
<div class="error">
  {{ _('Please check that all fields are filled out correctly.') }}
</div>
{% endif %}

<form action="?" method="post">
  <div class="card-block card">
    <strong>{{ _('Details') }}</strong>

    <label>
      <span>{{ _('Title') }}</span>
      <input type="text"
        name="title"
        placeholder="{{ _('Episode 1 - Best one ever') }}"
        required
        maxlength="1024"
        value="{{ default.get('title', episode.title) }}"
        class="width-full">
    </label>
    <label>
      <span>{{ _('Subtitle') }}</span>
      <input type="text"
        name="subtitle"
        placeholder="{{ _('You\'ll never believe it') }}"
        maxlength="1024"
        value="{{ default.get('subtitle', episode.subtitle) }}"
        class="width-full">
    </label>
    <label>
      <span>{{ _('Publish On') }}</span>
      <input type="datetime-local"
        name="publish"
        required
        value="{{ default.get('publish', (episode.publish + tz_delta).strftime('%Y-%m-%dT%H:%M')) }}">
    </label>
    <label>
      <span>{{ _('Episode Description') }}</span>
      <textarea name="description" id="description-field">{{ default.get('description', episode.description)|safe }}</textarea>
    </label>

  </div>

  <div class="card-block card">
    <strong>{{ _('Audio') }}</strong>
    <div class="upload-placeholder"
      data-default-url="{{ sign(default.get('audio-url', episode.audio_url)) }}"
      data-default-size="{{ default.get('audio-url-size', episode.audio_size) }}"
      data-default-name="{{ default.get('audio-url-name', _('Previously uploaded episode audio')) }}"
      data-default-type="{{ default.get('audio-url-type', episode.audio_type) }}"
      data-accept="audio/*"
      data-name="audio-url"
      data-type="audio"
      data-podcast="{{ podcast.slug }}"
      data-audio-duration-selector=".duration-control"></div>

    <label class="duration-control">
      <span>{{ _('Duration') }}</span>
      <input type="number" class="duration-hours" name="duration-hours" value="{{ default.get('duration-hours', (episode.duration / 3600)|round(1, 'floor')|int) }}" title="{{ _('Hours') }}">:
      <input type="number" class="duration-minutes" name="duration-minutes" value="{{ default.get('duration-minutes', (episode.duration % 3600 / 60)|round(1, 'floor')|int) }}" title="{{ _('Minutes') }}">:
      <input type="number" class="duration-seconds" name="duration-seconds" value="{{ default.get('duration-seconds', (episode.duration % 60)|round(1, 'floor')|int) }}" title="{{ _('Seconds') }}">
    </label>

  </div>


  <div class="card-block card">
    <strong>{{ _('Episode Image') }}</strong>

    <div class="upload-placeholder"
      data-default-url="{{ sign(default.get('image-url', episode.image_url)) }}"
      data-default-size="{{ default.get('image-url-size') }}"
      data-default-name="{{ default.get('image-url-name') }}"
      data-default-type="{{ default.get('image-url-type') }}"
      data-accept="image/*"
      data-name="image-url"
      data-type="image"
      data-podcast="{{ podcast.slug }}"></div>
  </div>

  <div class="card-block card">
    <strong>{{ _('Meta') }}</strong>

    <label>
      <span>{{ _('Copyright') }}</span>
      <input type="text"
        name="copyright"
        maxlength="1024"
        value="{{ default.get('copyright', episode.copyright) }}"
        placeholder="{{ _('Copyright 2015 Foo Bar Inc.') }}">
    </label>

    <label>
      <span>{{ _('License') }}</span>
      <input type="text"
        name="license"
        maxlength="1024"
        placeholder="{{ _('Creative Commons 4.0') }}"
        value="{{ default.get('license', episode.license) }}">
    </label>
    
  </div>

  <menu class="toolbar">
    <li><button type="submit">{{ _('Save') }}</button></li>
  </menu>

  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
</form>

{% endblock %}

{% block after_content %}
<link href="/static/css/markdown-editor.css" rel="stylesheet">
<script src="/static/js/react-0.13.3.min.js"></script>
<script src="/static/js/markdown-editor.js"></script>
<script src="/static/js/ui-uploader.js"></script>
<script src="/static/js/disable-forms.js"></script>
<script>
markdown(document.querySelector('textarea'));
</script>
{% endblock %}
