{% extends 'dashboard/base.html' %}
{% block dashboard_body %}

<header>
  <h1>{{ _('Podcast Importer') }}</h1>
</header>

<div class="upgrade-empty-state empty-state">
  {% if reached_limit %}
    {% trans %}
      You currently have a community account which can host up to three
      podcasts. If you'd like to start another, please upgrade to a paid plan
      or contact our support team.
    {% endtrans %}
  {% else %}
    {% trans %}
      The podcast migration tool is only available to paid customers. Upgrading
      your account to any paid plan will give you access.
    {% endtrans %}
  {% endif %}
  <br>
  <a class="btn" href="/accounts/upgrade">{{ _('Upgrade Now') }}</a>
</div>

{% endblock %}
