{% extends 'dashboard_base.html' %}
{% block dashboard_body %}
<header>
  {{ breadcrumb(podcast.name, url('podcast_dashboard', kwargs={'podcast_slug': podcast.slug})) }}

  <h1>{% trans name=podcast.name %}Top Episodes for {{ name }}{% endtrans %}</h1>
</header>


{% if podcast.podcastepisode_set.count() %}
  <table>
    <thead>
      <tr>
        <th class="primary">{{ _('Episode Name') }}</th>
        <th>{{ _('Listens') }}</th>
      </tr>
    </thead>
    <tbody>
      {% for ep in top_ep_data %}
        <tr>
          <td class="primary">
            <a href="{{ url('podcast_episode', kwargs={'podcast_slug': podcast.slug, 'episode_id': ep.episode}) }}">{{ episodes[ep.episode].title }}</a>
          </td>
          <td>{{ ep.podcast }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% else %}
  <div class="episode-empty-state empty-state">
    {{ _('You haven\'t uploaded any episodes yet.') }}
  </div>
{% endif %}

{% endblock %}
