{% extends 'dashboard_base.html' %}
{% block dashboard_body %}

<header>
  {{ breadcrumb(podcast.name, url('podcast_dashboard', kwargs={'podcast_slug': podcast.slug})) }}

  <h1>{% trans name=podcast.name %}Ratings for {{ name }}{% endtrans %}</h1>
</header>

<menu class="tabs">
  <li><a{{ (' class="selected"' if not service else '')|safe }} href="{{ url('podcast_ratings', kwargs={'podcast_slug': podcast.slug}) }}">{{ _('Overview') }}</a></li>
  <li><a{{ (' class="selected"' if service == 'STITCHER' else '')|safe }} href="{{ url('podcast_ratings', kwargs={'podcast_slug': podcast.slug, 'service': 'stitcher'}) }}">{{ _('Stitcher') }}</a></li>
</menu>

{% if not service %}
  <div class="card-block card">
    <strong>{{ _('Connected Services') }}</strong>
    <p>{{ _('In order to fetch ratings and reviews from third party services, you need to link those services to your PodMaster podcast.') }}</p>

    <ul class="connected-services">
      <li class="connected-service-stitcher">
        <strong>Stitcher Radio</strong>
        {{ _('Connected!') if PRA.SERVICE_STITCHER in connected_services else _('Not Connected') }}
      </li>
      <li class="connected-service-itunes">
        <strong>iTunes</strong>
        {{ _('Connected!') if PRA.SERVICE_ITUNES in connected_services else _('Not Connected') }}
      </li>
    </ul>
  </div>
{% else %}
  <div class="card-block card">
    <strong>{{ PRA.SERVICES_MAP[service] }}</strong>

    {% if not service_obj %}
      <p>{{ _('This service is not yet connected to PodMaster.') }}</p>
      <form method="POST">
        <label>
          <span>{% trans service=PRA.SERVICES_MAP[service] %}URL of podcast on {{ service }}{% endtrans %}</span>
          <input type="url" required name="url" placeholder="{{ PRA.EXAMPLE_URLS[service] }}">
        </label>

        <menu class="toolbar">
          <button>{{ _('Connect') }}</button>
        </menu>
      </form>
    {% else %}
    {% endif %}
  </div>
{% endif %}

{% endblock %}
