{% extends 'dashboard_base.html' %}
{% block dashboard_body %}

<header>
  <menu class="toolbar toolbar-right">
    <li><a class="btn" href="{{ url('new_episode', kwargs={'podcast_slug': podcast.slug}) }}">{{ _('New Episode') }}</a></li>
    <li><a class="btn btn-neutral" href="{{ url('edit_podcast', kwargs={'podcast_slug': podcast.slug}) }}">{{ _('Edit') }}</a></li>
  </menu>

  <h1>{{ podcast.name }}</h1>
</header>

<div class="row">
  <div class="card stat-card total-listens">
    <strong>{{ _('Total Listens') }}</strong>
    <span>{{ analytics.total_listens }}</span>
  </div>
  <div class="card stat-card this-week">
    <strong>{{ _('Listens This Week') }}</strong>
    <span>{{ analytics.total_listens_this_week }}</span>
  </div>
  <div class="card stat-card total-subscribers">
    <strong>{{ ngettext('Subscriber', 'Subscribers', analytics.subscribers) }}</strong>
    <span>{{ analytics.subscribers }}</span>
  </div>
</div>

<menu class="tabs dynamic">
  <li class="selected"><a data-tab=".tab-overview" href="">{{ _('Overview') }}</a></li>
  <li><a data-tab=".tab-episodes" href="">{{ _('Episodes') }}</a></li>
  <li><a data-tab=".tab-analytics" href="">{{ _('Analytics') }}</a></li>
  <li><a data-tab=".tab-feedback" href="">{{ _('Feedback') }}</a></li>
</menu>

<div class="tab-overview">
  {% if episodes %}
    <div class="card-block card">
      <div class="chart-placeholder"
        data-type="podcast-listen-history"
        data-podcast="{{ podcast.slug }}"
        data-title="{{ _('Listen history') }}"
        data-chart-type="line"></div>
    </div>
  {% endif %}

  <div class="card-block card">
    <strong>{{ _('RSS Feed') }}</strong>
    <input type="url"
      title="{{ _('RSS Feed') }}"
      readonly
      value="https://host.podmaster.io{{ url('feed', kwargs={'podcast_slug': podcast.slug}) }}"
      class="width-full">
  </div>

  <div class="card-block card">
    <strong>{{ _('Milestones') }}</strong>
    <p>{{ ngettext('Your next milestone is {milestone} listen!', 'Your next milestone is {milestone listens!', next_milestone).format(milestone=next_milestone) }}</p>
    <div class="progress"><i data-tooltip="{{ (analytics.total_listens / next_milestone * 100)|int }}%" style="width: {{ analytics.total_listens / next_milestone * 100 }}%"></i></div>
  </div>
</div>

<div class="tab-episodes" style="overflow: hidden; height: 0">
  {% if not episodes %}
    <div class="episode-empty-state empty-state">
      {{ _('You haven\'t uploaded any episodes yet.') }}<br>
      <a class="btn" href="{{ url('new_episode', kwargs={'podcast_slug': podcast.slug})}}">{{ _('Upload One Now') }}</a>
    </div>
  {% else %}
    <table>
      <thead>
        <tr>
          <th class="primary">{{ _('Episode Name') }}</th>
          <th>{{ _('Subtitle') }}</th>
          <th>{{ _('Published') }}</th>
        </tr>
      </thead>
      <tbody>
        {% for ep in episodes %}
          <tr>
            <td class="primary">
              <a href="/dashboard/podcast/{{ podcast.slug }}/episode/{{ ep.id }}">{{ ep.title }}</a>
            </td>
            <td>{{ ep.subtitle }}</td>
            <td>{{ ep.publish|pretty_date }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
</div>

<div class="tab-analytics" style="overflow: hidden; height: 0">
  {% if not episodes %}
    <div class="episode-empty-state empty-state">
      {{ _('Analytics will become available when you\'ve uploaded your first episode') }}
    </div>
  {% else %}
    <menu class="toolbar">
      <li><a class="btn" href="{{ url('podcast_geo', kwargs={'podcast_slug': podcast.slug}) }}">{{ _('Geo') }}</a></li>
      <li><a class="btn" href="{{ url('top_episodes', kwargs={'podcast_slug': podcast.slug}) }}">{{ _('Top Episodes') }}</a></li>
    </menu>
    <div class="row">
      <div class="card chart-placeholder"
        data-type="podcast-listen-breakdown"
        data-podcast="{{ podcast.slug }}"
        data-title="{{ _('Listens by Source') }}"
        data-chart-type="pie"></div>

      <div class="card chunkier chart-placeholder"
        data-type="podcast-subscriber-history"
        data-podcast="{{ podcast.slug }}"
        data-title="{{ _('Subscriber History') }}"
        data-chart-type="line"></div>
    </div>

    <div class="row">
      <div class="card chart-placeholder"
        data-type="podcast-listen-platform-breakdown"
        data-podcast="{{ podcast.slug }}"
        data-extra="breakdown_type=device"
        data-title="{{ _('Listens by Device') }}"
        data-chart-type="pie"></div>

      <div class="card chart-placeholder"
        data-type="podcast-listen-platform-breakdown"
        data-podcast="{{ podcast.slug }}"
        data-extra="breakdown_type=browser"
        data-title="{{ _('Listens by Browser') }}"
        data-chart-type="pie"></div>

      <div class="card chart-placeholder"
        data-type="podcast-listen-platform-breakdown"
        data-podcast="{{ podcast.slug }}"
        data-extra="breakdown_type=os"
        data-title="{{ _('Listens by OS') }}"
        data-chart-type="pie"></div>
    </div>
  {% endif %}
</div>

<div class="tab-feedback" style="overflow: hidden; height: 0">
  {% if not episodes %}
    <div class="episode-empty-state empty-state">
      {{ _('You will receive listener feedback here once you\'ve uploaded en episode.') }}<br>
      <a class="btn" href="{{ url('new_episode', kwargs={'podcast_slug': podcast.slug})}}">{{ _('Upload One Now') }}</a>
    </div>
  {% else %}
    <menu class="toolbar">
      <a href="{{ url('podcast_ratings', kwargs={'podcast_slug': podcast.slug}) }}" class="btn">{{ _('Podcast Reviews') }}</a>
    </menu>
    <div class="card-block card">
      <strong>{{ _('Podcast Comment Box') }}</strong>
      <p>{% trans %}Your listeners can leave questions, comments, and other feedback about your podcast. Direct them to this URL. You can shorten the URL with a service like <a href="https://bitly.com">bit.ly</a>.{% endtrans %}</p>
      <input type="url"
        title="{{ _('Podcast Comment Box') }}"
        readonly
        value="https://host.podmaster.io{{ url('podcast_comment_box', kwargs={'podcast_slug': podcast.slug}) }}"
        class="width-full">
      <p>{{ _('Listeners can also leave feedback on individual episodes. See the Feedback tab on an episode dashboard to find out how.') }}</p>
    </div>
    {% for f in feedback %}
      <div class="card-block card card-comment">
        <a class="comment-from" href="mailto:{{ f.sender }}">
          <img src="{{ gravatar(f.sender) }}" class="comment-from-gravatar">
          <span>{{ f.sender }}</span>
        </a>
        <p>{{ f.message }}</p>
        <menu class="toolbar">
          <a href="{{ url('delete_comment', kwargs={'podcast_slug': podcast.slug, 'comment_id': str(f.id)}) }}">{{ _('Delete Comment') }}</a>
        </menu>
      </div>
    {% else %}
      <div class="episode-empty-state empty-state">
        {{ _('Nobody has submitted feedback about the show yet.') }}
      </div>
    {% endfor %}
  {% endif %}
</div>

{% endblock %}

{% block after_content %}
<script src="https://fb.me/react-0.13.3.js"></script>
<script src="/static/js/chartjs-1.0.2.min.js"></script>
<script src="/static/js/ui-chart.js"></script>
<script src="/static/js/tabs.js"></script>
{% endblock %}
