{% extends 'dashboard_base.html' %}
{% block dashboard_body %}
<div class="breadcrumb">
  <a href="{{ url('podcast_dashboard', kwargs={'podcast_slug': podcast.slug}) }}">&laquo; Back to {{ podcast.name }}</a>
</div>

<menu class="toolbar toolbar-right">
  <li><a class="btn" href="{{ url('edit_podcast_episode', kwargs={'podcast_slug': podcast.slug, 'episode_id': str(episode.id)}) }}">Edit Episode</a></li>
</menu>

<h1>{{ episode.title }}</h1>
<h2>{{ episode.subtitle }}</h2>

<div class="chunky-row">
  <div>
    <strong>{{ analytics.total_listens }}</strong>
    <span>Total Listens</span>
  </div>
  <div>
    <strong><time datetime="{{ episode.publish }}" title="{{ episode.publish }}">{{ episode.publish.strftime('%Y-%m-%d') }}</time></strong>
    <span>{{'Published' if episode.is_published() else 'Pending'}}</span>
  </div>
</div>

<div class="url-box">
  <input type="url"
    readonly
    value="http://host.podmaster.io{{ url('listen', kwargs={'episode_id': str(episode.id)}) }}"
    class="width-full">
</div>

<div class="chunky chart-placeholder"
  data-type="episode-listen-history"
  data-podcast="{{ podcast.slug }}"
  data-episode="{{ str(episode.id) }}"
  data-title="Listen history over one month"
  data-chart-type="line"></div>

<iframe src="/player/{{ str(episode.id) }}" seamless height="60" style="border:0" class="podmaster-embed"></iframe>

<div class="chunky">
  {{ episode.description|safe }}
</div>

<div class="chunky">
  <dl>
    <dt>Created</dt> {#- -#}
    <dd><abbr title="{{ episode.created }}">{{ episode.created.strftime('%Y-%m-%d') }}</abbr></dd>
    
    <dt>Publish Timestamp</dt> {#- -#}
    <dd><abbr title="{{ episode.publish }}">{{ episode.publish.strftime('%Y-%m-%d') }}</abbr></dd>
    
    <dt>Duration</dt> {#- -#}
    <dd>
      {{ '%02d'|format((episode.duration / 3600)|round(1, 'floor')|int) }} :
      {{ '%02d'|format((episode.duration % 3600 / 60)|round(1, 'floor')|int) }} :
      {{ '%02d'|format((episode.duration % 60)|round(1, 'floor')|int) }}
    </dd>
    
    <dt>File Size</dt> {#- -#}
    <dd>{{ episode.audio_size|filesizeformat }}</dd>
    
    <dt>File Type</dt> {#- -#}
    <dd>{{ episode.audio_type }}</dd>
    
    <dt>Copyright</dt> {#- -#}
    <dd>{{ episode.copyright }}</dd>
    
    <dt>License</dt> {#- -#}
    <dd>{{ episode.license }}</dd>

  </dl>
</div>

<div class="chunky-row">
  <div class="chart-placeholder"
    data-type="episode-listen-breakdown"
    data-podcast="{{ podcast.slug }}"
    data-episode="{{ str(episode.id) }}"
    data-title="Breakdown of listens by source"
    data-chart-type="pie"></div>
</div>

<div class="chunky">
  <b>Embed Code</b>
  <textarea readonly class="embed-textarea"><iframe src="http://host.podmaster.io/player/{{ str(episode.id) }}" seamless height="60" style="border:0" class="podmaster-embed"></iframe></textarea>
</div>

{% endblock %}

{% block after_content %}
<script src="https://fb.me/react-0.13.3.js"></script>
<script src="/static/js/chartjs-1.0.2.min.js"></script>
<script src="/static/js/ui-chart.js"></script>
{% endblock %}
