{% extends 'dashboard_base.html' %}
{% block dashboard_body %}

<header>
  <menu class="toolbar toolbar-right">
    <li><a class="btn" href="{{ url('new_episode', podcast_slug=podcast.slug) }}">{{ _('New Episode') }}</a></li>
    <li><a class="btn btn-neutral" href="{{ url('edit_podcast', podcast_slug=podcast.slug) }}">{{ _('Edit') }}</a></li>
  </menu>

  <h1>{{ podcast.name }}</h1>
</header>

<div class="row">
  <div class="card stat-card total-listens">
    <strong>{{ _('Total Listens') }}</strong>
    <span>{{ analytics.total_listens }}</span>
  </div>
  <div class="card stat-card this-week">
    <strong>{{ _('Listens This Week') }}</strong>
    <span>{{ analytics.total_listens_this_week }}</span>
  </div>
  <div class="card stat-card total-subscribers">
    <strong>{{ ngettext('Subscriber', 'Subscribers', analytics.subscribers) }}</strong>
    <span>{{ analytics.subscribers }}</span>
  </div>
</div>

<menu class="tabs dynamic">
  <li class="selected"><a data-tab=".tab-overview" href="">{{ _('Overview') }}</a></li>
  <li><a data-tab=".tab-episodes" href="">{{ _('Episodes') }}</a></li>
  <li><a data-tab=".tab-analytics" href="">{{ _('Analytics') }}</a></li>
  <li><a data-tab=".tab-feedback" href="">{{ _('Feedback') }}</a></li>
</menu>

<div class="tab-overview">
  {% if episodes %}
    <div class="card-block card">
      <div class="chart-placeholder"
        data-type="podcast-listen-history"
        data-podcast="{{ podcast.slug }}"
        data-title="{{ _('Listen history') }}"
        data-chart-type="line"></div>
    </div>
  {% endif %}

  <div class="card-block card">
    <strong>{{ _('RSS Feed') }}</strong>
    <input type="url"
      title="{{ _('RSS Feed') }}"
      readonly
      value="https://host.podmaster.io{{ url('feed', podcast_slug=podcast.slug) }}"
      class="width-full">
  </div>

  <div class="card-block card">
    <strong>{{ _('Milestones') }}</strong>
    <p>{{ ngettext('Your next milestone is {n} listen!', 'Your next milestone is {n} listens!', next_milestone).format(n=next_milestone) }}</p>
    <div class="progress"><i data-tooltip="{{ (analytics.total_listens / next_milestone * 100)|int }}%" style="width: {{ analytics.total_listens / next_milestone * 100 }}%"></i></div>
  </div>
</div>

<div class="tab-episodes" style="overflow: hidden; height: 0">
  {% include 'dashboard/podcast/tab_episodes.html' %}
</div>

<div class="tab-analytics" style="overflow: hidden; height: 0">
  {% include 'dashboard/podcast/tab_analytics.html' %}
</div>

<div class="tab-feedback" style="overflow: hidden; height: 0">
  {% if minimum_plan(podcast.owner, PLANS.PLAN_PRO) %}
    {% include 'dashboard/podcast/tab_feedback.html' %}
  {% else %}
    {% include 'dashboard/podcast/tab_feedback_upgrade.html' %}
  {% endif %}
</div>

{% endblock %}

{% block after_content %}
<script src="https://fb.me/react-0.13.3.js"></script>
<script src="/static/js/chartjs-1.0.2.min.js"></script>
<script src="/static/js/ui-chart.js"></script>
<script src="/static/js/tabs.js"></script>
{% endblock %}
