{% extends 'dashboard_base.html' %}
{% block dashboard_body %}

<header>
  {{ breadcrumb(network.name, url('network_dashboard', kwargs={'network_id': network.id})) }}
  <h1>{% trans name=network.name %}Add podcast to {{ name }}{% endtrans %}</h1>
</header>

{% if error %}
  <div class="error">{{ error }}</div>
{% endif %}

<form method="post">
  
  <div class="card card-block">
    <strong>{{ _('Podcast') }}</strong>

    <label>
      <span>{{ _('Podcast Slug') }}</span>
      <input type="text" name="slug" pattern="[\w-]+" required>
    </label>

  </div>

  <menu class="toolbar">
    <li><button type="submit">{{ _('Add') }}</button></li>
  </menu>

  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
</form>

{% endblock %}
