{% extends 'dashboard/base.html' %}
{% block dashboard_body %}

<header>
  {{ breadcrumb(network.name, url('network_dashboard', network_id=network.id)) }}
  <h1>{% trans name=network.name %}Deactivate {{ name }}?{% endtrans %}</h1>
</header>

<form method="post">
  
  <div class="card card-block">
    <strong>{{ _('Confirm Deactivation') }}</strong>

    <p>
      {% trans %}Deactivating a network will make it unavailable to you and all other users. Only a Pinecast support member can re-activate a network. Are you sure you wish to do this?{% endtrans %}
    </p>

    <label>
      <input type="checkbox" required value="doit" name="confirm">
      <span>{{ _('I am sure I wish to deactivate the network') }}</span>
    </label>

  </div>

  <menu class="toolbar">
    <li><button type="submit">{{ _('Deactivate') }}</button></li>
  </menu>

  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
</form>

{% endblock %}
