{% extends 'dashboard_base.html' %}
{% block dashboard_body %}

<header>
  {{ breadcrumb(network.name, url('network_dashboard', kwargs={'network_id': network.id})) }}

  <menu class="toolbar toolbar-right">
    <li><a class="btn btn-danger" href="{{ url('network_deactivate', kwargs={'network_id': network.id}) }}">{{ _('Deactivate Network') }}</a></li>
  </menu>

  <h1>{% trans name=network.name %}Edit {{ name }}{% endtrans %}</h1>
</header>

{% if error %}
  <div class="error">{{ error }}</div>
{% endif %}

<form method="post">
  
  <div class="card card-block">
    <strong>{{ _('Network Details') }}</strong>

    <label>
      <span>{{ _('Network Name') }}</span>
      <input type="text" name="name" required value="{{ default.get('name', network.name) }}">
    </label>

  </div>

  <div class="card-block card">
    <strong>{{ _('Cover Image') }}</strong>

    <div class="upload-placeholder"
      data-default-url="{{ sign(default.get('image-url', network.image_url)) }}"
      data-default-size="{{ default.get('image-url-size') }}"
      data-default-name="{{ default.get('image-url-name') }}"
      data-default-type="{{ default.get('image-url-type') }}"
      data-accept="image/*"
      data-name="image-url"
      data-type="image"
      data-podcast="$net"
      data-no-itunes-size-check="true"></div>
  </div>

  <menu class="toolbar">
    <li><button type="submit">{{ _('Save') }}</button></li>
  </menu>

  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
</form>

{% endblock %}

{% block after_content %}
<script src="https://fb.me/react-0.13.3.js"></script>
<script src="/static/js/ui-uploader.js"></script>
<script src="/static/js/disable-forms.js"></script>
{% endblock %}
