{% extends 'dashboard/base.html' %}
{% block dashboard_body %}

<header>
  {{ breadcrumb(_('All Podcasts'), url('dashboard')) }}

  {% if minimum_plan(user, PLANS.PLAN_STARTER) %}
    <menu class="toolbar toolbar-right">
      <li><a class="btn btn-neutral" href="{{ url('network_edit', network_id=network.id) }}">{{ _('Edit') }}</a></li>
    </menu>
  {% endif %}

  <h1>{{ network.name }}</h1>
</header>

{% if len(net_podcasts) %}
  <div class="card-block card">
    <div class="chart-placeholder"
      data-type="network-listen-history"
      data-extra="network_id={{ network.id }}"
      data-title="{{ _('Listen history') }}"
      data-chart-type="line"
      data-has-legend="true"></div>
  </div>
{% endif %}

<menu class="tabs dynamic">
  <li class="selected"><a data-tab=".tab-podcasts" href="">{{ _('Podcasts') }}</a></li>
  <li><a data-tab=".tab-members" href="">{{ _('Members') }}</a></li>
</menu>

<div class="tab-podcasts">
  <ul class="dashboard-podcasts">
    {% for p in net_podcasts %}
      <li class="ticket">
        <a href="{{ url('podcast_dashboard', podcast_slug=p.slug) }}">{{ p.name }}</a>
        {% if user == network.owner or p.owner == user %}
          <div class="ticket-details">
            <span>
              <a class="b" href="{{ url('network_remove_podcast', network_id=network.id, podcast_slug=p.slug) }}">{{ _('Remove from Network') }}</a>
            </span>
          </div>
        {% endif %}
      </li>
    {% endfor %}
    <li class="ticket option">
      <a href="{{ url('network_add_show', network_id=network.id) }}">
        <span>
          {% if network.podcast_set.count() %}
            {{ _('Add another podcast to the network') }}
          {% else %}
            {{ _('Add first podcast to the network') }}
          {% endif %}
        </span>
      </a>
    </li>
  </ul>
</div>

<div class="tab-members" style="overflow: hidden; height: 0">
  <div class="card card-block">
    <strong>{{ _('Owner') }}</strong>
    <address class="user-card">
      <img src="{{ gravatar(network.owner.email) }}" alt="">
      <span class="name">{{ network.owner.email }}</span>
      <a href="mailto:{{ network.owner.email }}" class="email">{{ network.owner.email }}</a>
    </address>
  </div>

  {% if minimum_plan(user, PLANS.PLAN_STARTER) %}
    <div class="card card-block">
      <strong>{{ _('Add Member') }}</strong>
      {% if add_member_error %}
        <div class="error">{{ add_member_error }}</div>
      {% endif %}
      {% if add_member_success %}
        <div class="success">{{ _('Member added successfully') }}</div>
      {% endif %}
      <form action="{{ url('network_add_member', network_id=network.id) }}" method="POST">
        <label>
          <span>{{ _('Email') }}</span>
          <input type="email" name="email">
        </label>

        <menu class="toolbar">
          <li><button type="submit">{{ _('Add Member') }}</button></li>
        </menu>

        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
      </form>
    </div>
  {% endif %}

  <div class="card card-block">
    <strong>{{ _('Members') }}</strong>
    <ul class="network-members">
      {% for m in network.members.all() %}
        <li class="user-card">
          {% if m != network.owner or m == user and m != network.owner %}
            <menu class="toolbar toolbar-right">
              <li><a class="btn btn-danger" href="{{ url('network_remove_member', network_id=network.id, member_id=m.id) }}">{{ _('Remove') }}</a></li>
            </menu>
          {% endif %}
          <img src="{{ gravatar(m.email) }}" alt="">
          <span class="name">{{ m.email }}</span>
          <a href="mailto:{{ m.email }}" class="email">{{ m.email }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}

{% block after_content %}
<script src="/static/js/react-0.13.3.min.js"></script>
<script src="/static/js/chartjs-1.0.2.min.js"></script>
<script src="/static/js/ui-chart.js"></script>
<script src="/static/js/tabs.js"></script>
{% endblock %}
