{% extends 'dashboard/base.html' %}
{% block dashboard_body %}

<header>
  {{ breadcrumb(network.name, url('network_dashboard', network_id=network.id)) }}
  <h1>{% trans name=member.email, net=network.name %}Remove {{ name }} from {{ net }}?{% endtrans %}</h1>
</header>

<form method="post">

  <div class="card card-block">
    <strong>{{ _('Confirm Removal') }}</strong>

    {% if pods %}
      <p>
        {% trans %}Are you sure you want to remove this member from the network? You will be able to re-add them again in the future, however all of the podcasts in the network that the user owns will be removed.{% endtrans %}
      </p>
      <p>{{ _('The following podcasts will be removed from the network if you remove this user:') }}</p>

      <ul>
        {% for pod in pods %}
          <li>{{ pod.name }}</li>
        {% endfor %}
      </ul>
    {% else %}
      <p>
        {% trans %}Are you sure you want to remove this member from the network? You will be able to re-add them again in the future.{% endtrans %}
      </p>
    {% endif %}

    <label>
      <input type="checkbox" required value="doit" name="confirm">
      <span>{{ _('I am sure I wish to remove the member') }}</span>
    </label>

  </div>

  <menu class="toolbar">
    <li><button type="submit">{{ _('Remove') }}</button></li>
  </menu>

  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
</form>

{% endblock %}
