{% extends 'dashboard_base.html' %}
{% block dashboard_body %}

<header>
  {{ breadcrumb(network.name, url('network_dashboard', network_id=network.id)) }}
  <h1>{% trans name=podcast.name, net=network.name %}Remove {{ name }} from {{ net }}?{% endtrans %}</h1>
</header>

<form method="post">
  
  <div class="card card-block">
    <strong>{{ _('Confirm Removal') }}</strong>

    <p>
      {% trans %}Are you sure you want to remove this show from the network? If you want to re-add it, the owner of the podcast will need to add it themselves.{% endtrans %}
    </p>

    <label>
      <input type="checkbox" required value="doit" name="confirm">
      <span>{{ _('I am sure I wish to remove the podcast') }}</span>
    </label>

  </div>

  <menu class="toolbar">
    <li><button type="submit">{{ _('Remove') }}</button></li>
  </menu>

  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
</form>

{% endblock %}
