{% extends 'dashboard/base.html' %}
{% block dashboard_body %}

<header>
  {{ breadcrumb(_('Manage Blog'), url('site_manage_blog', podcast_slug=site.podcast.slug)) }}

  <menu class="toolbar toolbar-right">
    <form action="{{ url('site_remove_blog_post', podcast_slug=site.podcast.slug) }}" method="post">
      <button class="btn btn-danger">{{ _('Delete') }}</button>
      <input type="hidden" name="slug" value="{{ post.slug }}">
      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    </form>
  </menu>
  <h1>{{ post.title }}</h1>
</header>

{% if error %}
  <div class="error">
    {{ _('Please make sure you fill out each field correctly.') }}
  </div>
{% endif %}

<form class="card card-block" action="{{ url('site_blog_post', podcast_slug=site.podcast.slug, post_slug=post.slug) }}" method="post">
  <strong>{{ _('Edit Blog Post') }}</strong>

  <label>
    <span>{{ _('Title') }}</span>
    <input type="text" required name="title" maxlength="512" value="{{ default.get('title', post.title) }}">
  </label>

  <label>
    <span>{{ _('Slug') }}</span>
    <input type="text" name="slug" required pattern="[\w-]+" value="{{ default.get('slug', post.slug) }}">
  </label>

  <label>
    <span>{{ _('Publish On') }}</span>
    <input type="datetime-local" name="publish" required value="{{ default.get('publish', (post.publish + tz_delta).strftime('%Y-%m-%dT%H:%M')) }}">
  </label>

  <label class="markdwon-editor-small">
    <span>{{ _('Body') }}</span>
    <textarea name="body">{{ default.get('body', post.body) }}</textarea>
  </label>

  <menu class="toolbar">
    <button>{{ _('Save Post') }}</button>
  </menu>

  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
</form>

{% endblock %}

{% block after_content %}
<link href="/static/css/markdown-editor.css" rel="stylesheet">
<script src="/static/js/markdown-editor.js"></script>
<script>
(function() {
  var textarea = document.querySelector('textarea');
  if (textarea) {
    markdown(textarea);
  }
}());
</script>
{% endblock %}
