{% extends 'dashboard/base.html' %}
{% block dashboard_body %}

<header>
  {{ breadcrumb(_('Site Options'), url('site_options', site_slug=site.slug)) }}

  <menu class="toolbar toolbar-right">
    <li><a class="btn" href="{{ url('site_add_blog_post', site_slug=site.slug) }}">{{ _('Add Post') }}</a></li>
  </menu>

  <h1>{{ _('Manage Site Blog') }}</h1>
</header>

{% if not posts %}
  <div class="card empty-state">
    {{ _('You haven\'t written any blog posts yet.') }}<br>
    <a class="btn" href="{{ url('site_add_blog_post', site_slug=site.slug)}}">{{ _('Write one now') }}</a>
  </div>
{% else %}
  <table>
    <thead>
      <tr>
        <th class="primary">{{ _('Post Title') }}</th>
        <th>{{ _('Slug') }}</th>
        <th>{{ _('Published') }}</th>
      </tr>
    </thead>
    <tbody>
      {% for p in posts %}
        <tr>
          <td class="primary">
            <a href="{{ url('site_blog_post', site_slug=site.slug, post_slug=p.slug) }}">{{ p.title }}</a>
          </td>
          <td>{{ p.slug }}</td>
          <td>{{ p.publish|pretty_date }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}

{% endblock %}

{% block after_content %}
<link href="/static/css/markdown-editor.css" rel="stylesheet">
<script src="/static/js/markdown-editor.js"></script>
<script>
(function() {
  var textarea = document.querySelector('textarea');
  if (textarea) {
    markdown(textarea);
  }
}());
</script>
{% endblock %}
