{% extends 'dashboard/base.html' %}
{% block dashboard_body %}

<header>
  {{ breadcrumb(_('Manage Blog'), url('site_manage_blog', podcast_slug=site.podcast.slug)) }}

  <h1>{{ _('Write Post') }}</h1>
</header>

<form class="card card-block" action="{{ url('site_add_blog_post', podcast_slug=site.podcast.slug) }}" method="post">
  <strong>{{ _('Write Blog Post') }}</strong>

  <label>
    <span>{{ _('Title') }}</span>
    <input type="text" required name="title" maxlength="512" value="{{ default.get('title') }}">
  </label>

  <label>
    <span>{{ _('Slug') }}</span>
    <input type="text" name="slug" required pattern="[\w-]+" value="{{ default.get('slug') }}">
  </label>

  <label>
    <span>{{ _('Publish On') }}</span>
    <input type="datetime-local" name="publish" required value="{{ default.get('publish') }}">
  </label>

  <label class="markdwon-editor-small">
    <span>{{ _('Body') }}</span>
    <textarea name="body">{{ default.get('body') }}</textarea>
  </label>

  <menu class="toolbar">
    <button>{{ _('Add Post') }}</button>
  </menu>

  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
</form>

{% endblock %}

{% block after_content %}
<link href="/static/css/markdown-editor.css" rel="stylesheet">
<script src="/static/js/markdown-editor.js"></script>
<script>
(function() {
  var textarea = document.querySelector('textarea');
  if (textarea) {
    markdown(textarea);
  }
}());
</script>
{% endblock %}
